[2019-10-14 22:52] zepumph opened #1 "Move UtteranceQueue to its own repo"
This was a side project that was discussed in the last few weeks with @emily-phet and @jessegreenberg  as something that @twant may be able to tackle as a back burner project. The priority of it may shift as we think about https://github.com/phetsims/molarity/issues/155 and how a fix for alerts firing in full-screen mode in Chrome may be to have scenery control the `UtteranceQueue`.

On hold until

[2019-10-22 21:01] zepumph opened #2 "move usages to use this repo"
There are over a hundred usages to convert. Let's do that here.

[2019-10-22 21:31] zepumph commented on #2
This will also involve:
-  [ ] adding `UTTERANCE_QUEUE` to the config path
- [ ] moving tests over
- [ ] deleting scenery-phet files

[2019-10-22 21:36] zepumph commented on #2
I replaced usages with the regex:

`SCENERY_PHET/accessibility/(ActivationUtterance|AlertableDef|Utterance|UtteranceQueueIO|UtteranceTests|ValueChangeUtterance|ariaHerald|utteranceQueue)'`

for

`UTTERANCE_QUEUE/$1'`

[2019-10-22 21:57] #2 closed

[2019-10-22 23:03] twant opened #3 "Utterance Queue should initialize Aria Herald"
@zepumph and I, in looking at adding initialization code for utteranceQueue to scenery, found that in sim.js it is currently necessary to initialize ariaHerald first, since utteranceQueue depends on it. We would like to change this so that ariaHerald is automatically initialized when utteranceQueue is initialized, instead of having to initialize ariaHerald first.

[2019-10-22 23:29] twant opened #4 "ariaHerald can't depend on scenery"
...because scenery depends on utterance-queue.

[2019-10-23 01:09] twant commented on #1
@zepumph and I worked on adding initialization code to scenery and supporting self build tonight. We moved initialization code from Sim.js to Display.js, and then modified scenery's config files to require utteranceQueue (and added the necessary main.js file to utterance-queue). We were able to successfully build and run the built version of scenery with utteranceQueue in it.

However, we realized

[2019-10-23 18:11] jessegreenberg commented on #1
@twant changes in https://github.com/phetsims/utterance-queue/issues/1#issuecomment-545219238 look great! I agree, it seems like having one utteranceQueue and one ariaHerald per Display makes most sense. Especially since the aria-live elements are going to move under the Display div.

[2019-10-23 18:12] jessegreenberg commented on #3
👍

[2019-10-24 23:38] samreid opened #5 "Regenerate the README files."
While I was working on https://github.com/phetsims/phet-info/issues/120 I tested regenerating a README file, and it showed me that the README files are now missing this line:

[code]

[2019-10-30 01:57] zepumph commented on #1
We worked on this more today, and got much further. There are some minor tweaks to try to work out, but we got things working with two large patches to come (no commits)

Here are next steps for us:

- [ ] aria-live ids are assumed in a11y-view. This has worked well, but now we could have more than one set, perhaps we want to change the a11y-view code?
- [ ] audit assertion at end of sim. It could

[2019-10-30 01:58] zepumph commented on #1
Note: we really hate how large of a patch this is getting, but it still seems preferable to having N branches (at least 6, but could be more if we added usages). This is part of why we separated out the usages into another changeset, to keep the breadth down menially.

[2019-11-06 00:51] zepumph commented on #1
@twant and I couldn't reproduce this today. We think it was caused because last week we didn't rebuild the a11y view before testing.

[2019-11-06 01:27] zepumph commented on #1
- [ ] Let's create a QA task for this, or perhaps give a(nother) dev test of GFL/Molarity to them as a regression.

[2019-11-06 01:42] zepumph commented on #3
This was covered by recent commits over in https://github.com/phetsims/utterance-queue/issues/1, closing

[2019-11-06 01:42] #3 closed

[2019-11-06 01:44] zepumph opened #6 "Support building as an independent library"
From #1, it would be nice if this could bundle into its own buildable, like scenery. We go most of the way in #1 just supporting this as a dependency to a buildable, standalone scenery. I think following dot/kite etc will be straightforward.

[2019-11-06 02:17] zepumph commented on #1
@twant and I finally got this to a committable point. Most of today was not coding, but just testing the above patches, and working out kinks. There is still a pretty large list of follow up tasks, but they didn't need to be done in this first commit:

- [ ] step timer in scenery playground so that utteranceQueue works there
- [ ] what is `SCENERY/config.js` deps good for? It doesn't load namespac

[2019-11-06 05:16] zepumph commented on #1
@twant and I finally got this to a committable point. Most of today was not coding, but just testing the above patches, and working out kinks. There is still a pretty large list of follow up tasks, but they didn't need to be done in this first commit:

- [ ] step timer in scenery playground so that utteranceQueue works there
- [ ] what is `SCENERY/config.js` deps good for? It doesn't load namespac

[2019-11-19 17:36] jessegreenberg opened #7 "Best way to reference utteranceQueue"
utteranceQueue was recently added as an instance variable to the Display, as described in https://github.com/phetsims/utterance-queue/issues/1. The downside to this is that every usage requires a reference to the display and so most usages look something like

[code]

We should consider a better way to reference this or consider reverting back to a singleton. to be discussed during a11y meeting.

[2019-11-19 18:38] zepumph commented on #7
This felt like it belonged in the utterance-queue repo.

@jessegreenberg I totally agree! Part of the cleanup steps outlined over in https://github.com/phetsims/utterance-queue/issues/1#issuecomment-550148158 was to try to sort this out a bit, but I think this issue is much better suited to do it well.

What more do you think would be possible? We could have a closure around Sim.js, like one of th

[2019-11-19 18:39] zepumph commented on #7
The issue with this is we need to create the variable after the sim has started, so this can never be part of the requirejs load step, like in the `// constants` section.

[2019-11-19 19:09] jessegreenberg commented on #7
From #1,

I think ive forgotten what the issue was here, why was the singleton pattern problematic? Could we have a singleton utteranceQueue shared between all displays?

[2019-11-19 19:31] zepumph commented on #7
I don't know how that would work, because aria-live elements are inside a display. I didn't see a clear path to having a singleton global that conditionally offered elements to add to the DOM, or perhaps needed to know about elements elsewhere. Even so, we should discuss further in our meeting.

[2019-11-19 19:36] jessegreenberg commented on #7
Ah right, thanks for the reminder.

[2019-11-20 00:53] zepumph commented on #7
After discussing further with @jessegreenberg, we decided to implement the simple getter on Sim.js to remove one section of the access on utteranceQueue. Overall this is only a minor improvement, but the work was also minor.

In the future is we want to change the way utteranceQueue is accessed, then we may elect for a more intense operation.

Today @jessegreenberg and I discussed trying to keep U

[2019-11-20 00:55] zepumph opened #8 "Remove all other hard coded instances of aria-live elements in html files"
From https://github.com/phetsims/utterance-queue/issues/1, there are a few other spaces that we need to get rid of html elements about, like in tests and the xhtml build artifact template.

[2019-11-20 01:39] zepumph commented on #1
Above are changes to the a11y view that remove assumptions about aria live element ids, and the number of them to monitor. We also created some side issues. We are ready to close this issue.

[2019-11-20 01:39] zepumph commented on #8
Implemented above. Closing

[2019-11-20 01:39] #8 closed

[2019-11-20 02:34] zepumph commented on #6
@twant and I added this logic, we decided to experiment with implementing these from globals on `phet` instead of just on `window`, as is the way of the future, see https://github.com/phetsims/scenery/issues/966.

@jessegreenberg please review commits here. You can test this by running `cd utterance-queue; grunt` and then running an html scrap like this:

[code]

[2019-11-20 02:41] zepumph commented on #1
Actually. This was a massive set of changes. It would be good to have @jessegreenberg look over it. Here is a list of files to look at for recent changes:

* UtteranceQueue
* AriaHerald
* Display.js and how we are creating the `utteranceQueue` instance
* We discussed usages in #7, but it would be good to spot check
* Spot check the removal of hard coded elements from html files.
* A review of utte

[2019-11-20 02:51] zepumph commented on #4
Above @twant and I said "can't," but in reality things are working as is. AriaHerald requires a file from scenery, and as a result, `SCENERY` is the path for utterance-queue's config. When building as a standalong in #6, we found that on the namespace only the needed scenery files were being required and stored. In PhET sims we don't worry about this at all, because scenery will always be a depend

[2019-11-20 02:51] #4 closed

[2019-11-20 03:09] zepumph commented on #5
When I did the following commands, the utterance-queue line was added back in.

[code]
@samreid how would you recommend gathering a list of published repos to call `grunt published-README` on?

[2019-11-20 23:28] jessegreenberg commented on #7
Looks great, I think that captures the ideas we were brainstorming. As you said we may come back to this in the future so good to have notes here if we end up returning. Thanks for doing the work to attach to `sim`. I think this can be closed.

[2019-11-20 23:28] #7 closed

[2019-11-21 01:07] samreid commented on #5
How about changing `grunt update` so that it automatically updates the README, based on looking at the versions in package.json?

[2019-11-21 18:11] jessegreenberg opened #9 "initializeAsSkelleton"
Noticed while reviewing #6 - There is an optional arg to UtteranceQueue called `implementAsSkeleton`, which creates the UtteranceQueue but with all alerts disabled. Currently default for this is `true`. Since this repo might stand on its own, I am wondering if the default should be `false`?

Then a client can just do `const utteranceQueue = new phet.utteranceQueue.UtteranceQueue();`

@zepumph @twa

[2019-11-21 18:13] jessegreenberg commented on #9
Alternatively, maybe an `initialize()` function that is always required may be more easy to understand if we still want the default behavior to be disabled.

[2019-11-21 18:15] jessegreenberg commented on #9
Wait.. sorry - the default is false. I haven't been able to get alerts in #6 yet and I thought this was the reason but it is not. Reassigning to myself.

[2019-11-21 18:29] zepumph commented on #9
You bring up a good point though. I think that this is still a good issue. I also don't like this option. Perhaps at the very least we can turn that into an options object so that the skeleton function isn't so "front and center."

Here is an alternative. What if we create it always, but then in display just `disable` it if a11y isn't enabled?

[2019-11-21 18:34] jessegreenberg commented on #6
It is fun to see this as an independent lib! I was able to get a test example running with the following:
[code]

[2019-11-21 18:42] zepumph opened #10 "update documentation"
Since this new repo is an added common code dependency to all sims, there are a few more steps to do:

* https://github.com/phetsims/utterance-queue/issues/5 regenerate published readmes
* add this sim to the development overview as a `.git` clone
* add these docs to the "new repo checklist" for common code repos that are common code dependencies to all sims.

[2019-11-21 18:46] jessegreenberg commented on #6
Here are the things I noticed, maybe new issues should be made rather than addressing all of them here. Some of them are related to building as an independent library, others are related to documentation.

- The build with `grunt` is dependent on chipper (and maybe other things) - before external use we should document these dependencies.
- Documentation in UtteranceQueue ties the repo to joist an

[2019-11-21 18:47] jessegreenberg commented on #9
The reason it wasn't working is that I forgot to step axon.timer.

That sounds really nice.

[2019-11-21 18:51] jessegreenberg commented on #9
I noticed two things when I tried to do this
- `implementAsSkelleton` also controls phetio options and tandem, if always enabled will these always be passed through? Is that OK?
- If PhET uses `disabled` to enable/disable at the Display level, `disabled` probably shouldn't also be controlled at the sim level. I think that is OK, PhET has never used this feature until now. But just thought it shoul

[2019-11-21 19:06] zepumph commented on #10
The README files will be done in https://github.com/phetsims/utterance-queue/issues/5. @pixelzoom can you think of any other places where we need to update this now that utterance-queue is a new common code dependency? If not feel free to close.

[2019-11-21 19:26] pixelzoom commented on #10
@zepumph You fixed the instructions for Windows, but missed the instructions for macOS.  Fixed in the above commit.   This is not the first time that these instructions have been broken. Should we promote example-sim to have a "published README", then refer to it in the development overview?

I can't think of other places to update.

[2019-11-21 20:27] jessegreenberg commented on #1
These are looking great, additional things I noticed have new issues or have the open issues that you described. Is this ready to be closed?

[2019-11-26 02:22] #1 closed

[2019-11-26 02:23] zepumph commented on #6
Added doc to stepSimulation above.

[2019-12-10 00:59] zepumph commented on #10
That sounds like a good idea, but I sorta feel like I'm not an authority on that, perhaps we should run it by devs at a meeting quickly.

[2019-12-10 01:18] zepumph commented on #5
This should be done soon. I should have already gotten to it as all published readmes are broken. Elevating priority.

[2019-12-11 00:52] zepumph opened #11 "Add alertMaximumDelay defaults to Utterance subtypes?"
While working on Molarity, I was fuzzing the a11y view and found the one `ValueChangeUtterance` never alerted because the slider kept moving forever. I wonder if we should bake in defaults for Utterance, ValueChangeUtterance, and ActivationUtterance so that we get an alert no matter what every 5 seconds? 10 seconds?

I see that the option isn't being used at all. What do you think @jessegreenberg?

[2019-12-12 20:01] ariel-phet commented on #10
at dev meeting 12-12-2019 decided example-sim should have a published README

[2019-12-12 20:09] pixelzoom commented on #10
I created a published README.md.  The associated screenshot is being created in https://github.com/phetsims/example-sim/issues/10.

[2019-12-12 20:09] #10 closed

[2019-12-28 01:19] jessegreenberg commented on #11
Fuzzing creates an interesting case here. In my opinion this isn't concerning and is the expected behavior for  `alertStableDelay` and ValueChangeUtterance. Theoretically if the user moves the slider forever, they will forever hear aria-valuetext over the alert. We would still want to give the screen reader a chance to finish reading the latest aria-valuetext before alerting to fulfill the workaro

[2020-01-15 23:31] zepumph commented on #5
@samreid please review https://github.com/phetsims/chipper/commit/3bd063a5bb6851fe873c4f8234ef9350e0e1e838. Note that it worked to ignore sun, as well as working expected for natural selection (unpublished) and GFL (published).

Here are the current sims that don't yet work:
* Blast
* CCK BBS (since it was published only for phet-io
* Example sim
* Interaction Dashboard
* Number Line Integers (sin

[2020-01-17 15:02] samreid commented on #5
@zepumph this looks great, thanks!  I made a few improvements in the commits.  For dealing with the outliers in https://github.com/phetsims/utterance-queue/issues/5#issuecomment-574906235, I recommend adding a new package.json entry like "readmeTemplate:'...'" which is the relative path to the readme template to use.  That way some repos can always use the "unpublished" template, and other sims ca

[2020-01-22 23:36] zepumph commented on #5
I think this is halfway there. To me, when specifying something manually, you are opting out of both published and unpublished readmes, so I think instead there should be a package.json entry that tells grunt update to not try to auto generate the README.md file, since it is manual. I got to this solution via yours because in the outlier repos, it will involve having a template readme that is the

[2020-01-22 23:42] zepumph commented on #5
The above solution is working really well so far, and will cover permanent cases like blast, but doesn't cover the case where a brand new sim is in RC but not published. Is it alright to just say that it is ok to have a published readme for that case (upwards of a month or two of inconsistency once per new sim)?

[2020-01-22 23:58] zepumph commented on #5
Summary of work:
* Created `readmeCreatedManually` flag for package.json, and have `grunt update` respect it.
* Add it to all of the above list save number line integers, and add chains to it.
* run grunt update for all active sims and find that ISLC sims, though all have been published, had unpublished readmes (yay automation to find bugs).
* Committed the change from unpublished to published for

[2020-01-23 00:00] zepumph commented on #6
I wonder if the standalone build could have a script that automatically does this, to make for an easier "hello world". Could be worth experimenting with a bit.

[2020-01-23 05:09] samreid commented on #5
A note for when I review this: in https://github.com/phetsims/tasks/issues/1018 we discussed improving the readme files.  I wonder if we will want them to be templates so we can fill in the git clone dependencies?

[2020-01-28 04:40] zepumph commented on #6
This is the current doc in Sim.stepSimulation. I think it is good as is:
[code]

[2020-01-28 05:23] zepumph commented on #6
I created `fromFactory` as a nicer hello world. Please also review the new and improved README. I also checked in the minified lib. That has worked well in scenery and I think it is a great place to start. Please review.

[2020-01-28 05:24] zepumph commented on #11
Alright. From that it seems like things are working as expected. If you feel like there is an action step for this issue please reopen.

[2020-01-28 05:24] #11 closed

[2020-01-28 05:30] zepumph commented on #9
After looking at it with semi fresh eyes, I can't see an obvious way to improve it, and it doesn't feel terribly confusing to me currently.

I don't understand this sorry. I don't see any enabled/disable/initialize in Display. So far there has not been a need to enabled/disable the Display beyond when constructing it (options.interactive), so I don't see a reason why we would want to add anything,

[2020-01-28 15:23] jessegreenberg commented on #9
OK sounds good - I mostly wanted to see if it was an issue for PhET-iO.

I no longer understand this either. `initialized` and `enabled` are implemented as I would expect in utteranceQueue and Display.

Im going to go ahead and close this issue since after review we are OK with the original point of the ticket, 'initializeAsSkelleton'.

[2020-01-28 15:23] #9 closed

[2020-01-28 15:31] jessegreenberg commented on #6
Wow, this is so cool! Thank you! I tried it out and it was as easy as copy and paste.

The other documentation additions look great too.

Closing this issue.

[2020-01-28 15:31] #6 closed

[2020-03-13 18:32] samreid commented on #5
Looks great, thanks!  I moved https://github.com/phetsims/chipper/issues/913 to a new issue.  If we decide to make READMEs' based on templates, that can be done in https://github.com/phetsims/tasks/issues/1018, closing.

[2020-03-13 18:32] #5 closed

[2020-04-30 14:54] KatieWoe opened #12 "CT Tests not finishing"
Some tests in CT are not being done.
![uterancequeue](https://user-images.githubusercontent.com/41024075/80725339-2bb72c00-8ac0-11ea-888b-f7f9e26f6a13.png)

[2020-05-13 17:13] jonathanolson commented on #12
See https://bayes.colorado.edu/continuous-testing/aqua/html/qunit-test.html?url=..%2F..%2Futterance-queue%2Futterance-queue-tests.html%3Fea%26brand%3Dphet-io and it looks like this is also causing scenery tests to not run.

[code]

Should we be running scenery/utterance-queue tests with brand=phet-io anyway?

[2020-05-13 17:13] jonathanolson commented on #12
Equivalent Scenery test that isn't completing: https://bayes.colorado.edu/continuous-testing/aqua/html/qunit-test.html?url=..%2F..%2Fscenery%2Fscenery-tests.html%3Fea%26brand%3Dphet-io

[2020-05-13 17:40] zepumph commented on #12
PhetioObject should be graceful, and not assume that phet.phetio.dataStream exists. I think that is proper behavior for the main super type in the project. Commit coming soon!

[2020-05-13 17:43] zepumph commented on #12
Committed above. I could go one of two ways for this issue. @samreid, this could also be solved by using `qunitStart` in these tests. Much of me doesn't want to have to import all of phet-io into every unit test that uses PhetioObject.

Can you recommend if we should proceed with the above commit, or convert all test js files to use qunitStart (Or both)?

[2020-05-13 22:34] samreid commented on #12
It seems like `phet.phetio.dataStream` should exist if `PHET_IO_ENABLED` is true, so perhaps we should use `qunitStart`.  That being said, I don't see any harm in also having the graceful test that you added.  What is your sense for this issue?

[2020-05-18 14:33] jessegreenberg opened #13 "Reusable singleton for UtteranceQueue"
In https://github.com/phetsims/utterance-queue/issues/7 the UtteranceQueue was changed from a singleton because of https://github.com/phetsims/utterance-queue/issues/7#issuecomment-555671762.

An instance of an UtteranceQueue for PhET's usage is now on the Sim. Currently usages look like
`phet.joist.sim.utteranceQueue...`

In https://github.com/phetsims/balloons-and-static-electricity/issues/454 @

[2020-05-21 22:31] zepumph commented on #12
I much prefer using `qunitStart` then to add flexibility in all out code (which was recently converted to use globals for all phet-io modules to support es6 module dynamic loading). I converted all remaining test files above.

I still feel like there is a bigger issue here though, and that is why doesn't the CT harness appropriately log the error. @jonathanolson can we make that possible?

[2020-10-14 16:24] jessegreenberg opened #14 "Can we use utteranceQueue for PhET's self-voicing feature?"
I would like to be able to queue up web speech much like we do with utterance-queue. Can the queue be extended to support more than just output with aria-herald?

I brainstormed briefly with @zepumph and we discussed creating a way change the output method of utterance-queue with an option so that you could have one instance for aria and another instance for speech synthesis.

I am going to try it

[2020-10-20 18:38] jessegreenberg commented on #14
https://github.com/phetsims/utterance-queue/commit/325044a5a42e58f8d64c80bf7efc5a56c7887691 is really the commit that implemented this.

To summarize changes -

- utteranceQeue now takes an `announcer`, which implements an `announce` function. The `announce` function requests speech in some form (aria-live or web speech). This param is required.
- There is a new SelfVoicingUtterance with a couple

[2020-10-20 22:39] zepumph commented on #14
I noticed that https://github.com/phetsims/utterance-queue/commit/325044a5a42e58f8d64c80bf7efc5a56c7887691 broke the a11y view because you got rid of `getAriaLiveContainer`. I know why and how, but it seems like we need to put a bit more thought into how we want that piece of the API to work. Maybe Display needs to take a bit more responsibility in managing AriaHerald, since we may make UtteranceQ

[2020-10-21 15:23] KatieWoe opened #15 "CT cannot read property addToBack of undefined"
[code]

[2020-10-21 16:06] jessegreenberg commented on #15
Thanks @KatieWoe, fixed in the above commits.

[2020-10-21 16:06] #15 closed

[2021-02-16 19:12] zepumph commented on #13
I agree and understand your concerns, but I worry that having a singleton would be too limiting, and actually just orthogonal to the problem. Over in https://github.com/phetsims/joist/issues/686 there is discussion of removing the dependency on joist in common code by using an options pattern. This would be (to me) much more flexible than a singleton that would be hard coded to a single instance o

[2021-02-18 01:36] zepumph commented on #13
I actually think I'd love to touch base on this at an a11y dev meeting. Since working more on https://github.com/phetsims/joist/issues/686 I'm sorta split. I can see positives both ways. It would certainly be easiest from usage's standpoint to just have a singleton. But I could also live with setting default options to the global in common code. Either way, let's decide and implement HERE, not in

[2021-02-18 01:51] zepumph opened #16 "MR for windows aria-live support"
This is from https://github.com/phetsims/scenery-phet/issues/490, and will need to patch as many sims as needed with

https://github.com/phetsims/utterance-queue/commit/8104d517b9720d5111e9e2e453f0010c9fa188af

@jessegreenberg does that sound right to you?

ration and proportion 1.0 has already been patched.

[2021-02-18 01:54] samreid commented on #13
Reading through https://github.com/phetsims/utterance-queue/issues/7#issuecomment-555671762, it seems you could have one singleton per display, with our primary PhET utterance queue defined in joist.  It doesn't have to be only one utterance queue for the entire application.

[2021-02-18 01:56] zepumph commented on #13
Does that mean we allow importing joist from sun/scenery-phet/scenery?

[2021-02-18 01:58] zepumph commented on #13
I'm not completely sure what you mean by this, but I will say that it could get quite buggy if there are utterances going to different queues, because of the nature of how we prioritize elements in the queue. We really need one master list that all utterances get put into.

[2021-02-18 02:08] samreid commented on #13
Usage sites could be `getGlobal( 'phet.joist.utteranceQueue' )` instead of `getGlobal( 'phet.joist.sim.utteranceQueue' )` so they don't have to go through `sim`.  This would help us prune the number of `phet.joist.sim` occurrences, but I'm not sure if it's worth it.

[2021-02-22 19:05] jessegreenberg commented on #16
I notified dev-public that I was going to begin this. I reviewed sims listed in interactive-description and on the website and identified that these published sims will need the patch:
- BASE
- Friction
- GFL
- GFL:B
- John Travoltage
- Molarity
- Molecules and Light
- Ohm's Law
- Resistance in a Wire

[2021-02-22 19:32] zepumph commented on #16
The auto MR process should allow you to detect this, likely only one or two patches will be needed (one for sims with utterance-queue/ and the other for that code in scenery-phet?). Are we worried at all about adding this code to a copy of AriaHerald that was before we need this patch? I don't have a good understanding of where the original commit in https://github.com/phetsims/scenery-phet/issues

[2021-02-22 21:03] jessegreenberg commented on #16
Thanks, that is a good point, for sims that predate use of `hidden` it is possible that no patch is needed. While going through the process I found that was true for the following sims
- BASE
- Friction
- john-travoltage
- resistance-in-a-wire

I tested these with NVDA in Chrome and verified that there were no issues with alerts.

That leaves the following sims
- GFL
- GFL:B
- molarity
- molecules

[2021-02-22 22:54] jessegreenberg commented on #16
Maintenance RCs deployed in https://github.com/phetsims/QA/issues/614. I did a spot check on all with JAWS in Chrome and things seem fixed, but we will see how the spot check goes.

[2021-02-23 23:18] jessegreenberg commented on #16
QA spot check has cleared, proceeding with `Maintenance.deployProduction()`.

[2021-02-23 23:44] jessegreenberg commented on #16
After kicking it off, I received this error
[code]

[2021-02-24 01:35] zepumph commented on #16
I made it so that GFL 2.2 will be able to production deploy over in https://github.com/phetsims/perennial/issues/209. Let me know if I should deploy it for any brands, or do anything more.

[2021-02-24 17:24] jessegreenberg commented on #16
OK Thanks!

I just tried again and got "It appears that the last deployment was for production" error so I think I need to revert a commit to package.json and try again.

[2021-02-24 20:07] jessegreenberg commented on #16
The production task finished. I went through each link reported by Maintenance.listLinks() and all are running. This has been completed, closing.

[2021-02-24 20:07] #16 closed

[2021-03-16 20:43] zepumph commented on #13
@jessegreenberg and I decided that we like using `getGlobal` for this in common code. In sims, where it is fine to access joist globals, we can call upon the global directly. Assigning to both of us, whoever gets to it first.

[2021-03-19 18:29] zepumph opened #17 "utteranceQueue isn't emitting to the data stream"
Since work done in https://github.com/phetsims/utterance-queue/issues/14. I think this deserves its own side issue. I'll update the TODO to point to this issue.

[2021-03-19 18:29] zepumph commented on #14
I created to https://github.com/phetsims/utterance-queue/issues/17 to specifically deal with the commented out phet-io event in utteranceQueue. Updating the todo now.

[2021-03-20 01:29] zepumph commented on #17
I wonder if instead of instrumenting the UtteranceQueue, we should instrument announcers, so that we can emit the text to the data stream?

[2021-03-25 00:36] zepumph commented on #14
Review comment I found while working on https://github.com/phetsims/scenery/issues/1183:

- [ ] RE: `* @param {Object} announcer` parameter in UtteranceQueue, can we make an `Announcer.js` abstract base type that outlines the interface that UtteranceQueue. This will give us a place to document this (with @abstract methods that can throw an assertion error until overridden), and also allows room fo

[2021-03-25 15:09] jonathanolson commented on #12
Would this be adding just a general on-error handler to the main body of the qunit pages? I'm not as familiar with that setup, or what is needed here.

[2021-03-25 21:16] zepumph commented on #12
Perhaps something like this to forward errors.

[code]

[2021-03-30 21:55] jonathanolson commented on #12
That looks like a good approach to me.

[2021-04-01 01:26] zepumph commented on #12
Sounds good. I will keep my eye out on CT, and add an error to studio make sure that it fails on CT.

[2021-04-01 16:33] zepumph commented on #12
This did not work, reverting the problem, I'm a bit stumped on this

![image](https://user-images.githubusercontent.com/6856943/113325468-f533f380-92c4-11eb-9d64-2101fca9403a.png)

[2021-04-12 22:06] jonathanolson commented on #12
Presumably we'd want to run the test locally to see how it works, and what it would report or error out with?

[2021-05-04 20:41] zepumph commented on #13
Today @jessegreenberg, @jonathanolson and I found that we can build this into the scene graph. I want to experiment with adding a ParallelDOM.getUtterances() that can look up a connected tree to find the utteranceQueues for each Display this Node is connected to.

[2021-05-04 20:42] zepumph commented on #14
@jessegreenberg what is left for this issue? We have been using WebSpeaker in UtteranceQueue for a while now.

[2021-05-04 20:54] jessegreenberg commented on #13
We discussed adding to Node a function that would let us get the connected Displays for a Node, so that we can get all the utteranceQueues for each Display. It would look something like this:
[code]

[2021-05-12 01:00] zepumph commented on #13
I felt really good about the above plan. Enough so that I just committed the change to ParallelDOM and Node. I converted Ohms Law and RIAW (just 5 calls to utteranceQueue in total) as a proof of concept.

Next steps here would be for @jonathanolson to take a review of the above commits, especially for performance within Node.getConnectedDisplays().

Then next we can convert other usages.

One note

[2021-05-19 15:37] jessegreenberg opened #18 "Add a way to request content immediately"
For Voicing, we need to be able to request speech immediately without the use of the UtteranceQueue. This was added to webSpeaker with a function called `speakImmediately` that makes a direct call to the speech synth rather than added to the UtteranceQueue. In review for https://github.com/phetsims/scenery/issues/1223 @zepumph suggested

[2021-05-19 20:22] jonathanolson commented on #13
It looks good to me, just requires a `@param` in getRecursiveConnectedDisplays doc.

[2021-05-25 22:07] jessegreenberg commented on #13
I just hit a "maximum call stack size exceeded" from `getConnectedDisplays` because each visit adds all the Displays back to the list so it grows like 2^n.

In https://github.com/phetsims/scenery/commit/30c7368642b61c8a5f8e971a46319112483fd08f I a call to _.uniq to each visit in getRecursiveConnectedDisplays, but now the list can only grow to n + number of displays used.

[2021-07-16 19:34] zepumph opened #19 "Delete VoicingUtterance and use announcerOptions"
This would follow the same pattern as the `AriaHerald.ariaLivePriority` options.

[2021-07-16 19:40] zepumph commented on #19
@jessegreenberg will you please review this kinda minor change set?

[2021-07-16 21:26] jessegreenberg commented on #19
Looks great thanks! Was just one lingering usage of VoicingUtterance remaining, I removed it in https://github.com/phetsims/scenery/commit/eb3d9b8192f3caf67210f89a148501b4478db8ca

[2021-07-16 21:26] #19 closed

[2021-07-29 21:09] zepumph opened #20 "Utterance does not support being added to 2+ UtteranceuQueues"
Discovered while problem solving for https://github.com/phetsims/friction/issues/204 with @jessegreenberg. Basically this is how we wanted our voicing response + description alert pattern to be:

[code]

Here are all the reasons why this doesn't work. In general it is because Utterance stores data from being in the queue, and based on how many times it has been sent through a queue.

* Utterance.n

[2021-07-29 22:15] jessegreenberg commented on #20
Yes, that could work well too.

[2021-07-30 13:08] zepumph commented on #20
If we make Utterance supportive of multiple queues by creating a map of data, then perhaps the "numberOfTimesAlerted" can also be kept in that data, since it in a general case it would depend on what the specific queue context is to alert. This seems like it could be weird though:

[code]

I have a hard time feeling like this isn't overly specific to our case. Perhaps that is alright, because in g

[2021-07-30 13:08] zepumph commented on #20
Assigning @jessegreenberg for comment.

[2021-07-30 13:49] zepumph commented on #17
I felt this way again while working on https://github.com/phetsims/utterance-queue/issues/18, and then again separately while working on https://github.com/phetsims/utterance-queue/issues/13. I think I'll experiment with that.

The announcers seem to be important for knowing what was spoken, like for the data stream, as an output.

The queue may be important for state. if we want to be able to set

[2021-07-30 13:54] zepumph commented on #13
Sorry this fell off of my radar completely. Thanks @jessegreenberg, that is all really nice. I also just came back to the usages in OL and RIAW, and tested on NVDA. Things are sounding really nice.

Besides supporting addToBack, I see 11 usages of other public features of the UtteranceQueue:

![image](https://user-images.githubusercontent.com/6856943/127659683-cbe0e96f-649f-43a0-b51e-4d00ba47c7c0.

[2021-07-30 14:17] zepumph opened #21 "prepareUtterance should test with instanceOf Utterance"
Discovered with https://github.com/phetsims/utterance-queue/issues/18. It would be most flexible, if we supported any type of AlertableDef, and just wrapped any non-Utterance in an Utterance instance. Tagging @jessegreenberg so he is aware.

[2021-07-30 14:19] zepumph commented on #21
@jessegreenberg, does this feel safe to you?

[2021-07-30 14:24] zepumph commented on #18
I believe that will be what what we need, but I didn't really look at exact usages. Can you please review the above commit, and use it in exchange for `voicingManager.speakImmediately()` if that feels right, otherwise let's discuss further!

[2021-07-30 17:54] zepumph commented on #12
Right! @jonathanolson, I'm going to add you to this, since you have a quarterly goal that generally is about CT bugs. I'll also try to work on it at some point too. I agree the next step seems to be to run some testing harnesses locally to determine the order of operations on error reporting.

[2021-07-30 17:55] zepumph commented on #12
Also, @jonathanolson, if you want to move this to aqua, feel free. We determined above that this is general (by reproducing it in studio/)

[2021-08-03 14:04] zepumph commented on #13
I like this, especially given how rarely we are using non `addToBack` functions`. I'll take it for a test drive.

[2021-08-03 14:26] jessegreenberg commented on #21
Yes, this does feel safe and more correct, thanks!

[2021-08-03 14:50] jessegreenberg commented on #13
I am nervous about option 1 because it will add a number of functions to ParallelDOM.js, and every time we add a public function to UtteranceQueue we would presumably need to add it to ParallelDOM.

I like option 2, though would that be something like `PDOM.forEachUtteranceQueue( function( utteranceQueue ) )`? Or just a getter for the utteranceQueues to be iterated on `ParallelDOM.getUtteranceQueu

[2021-08-03 14:55] #21 closed

[2021-08-03 14:58] zepumph commented on #13
Seems ok either way, but I kinda like passing in the function right now. Would it be better to have a list to do with what you wish?

[code]

[2021-08-03 15:16] jessegreenberg commented on #20
I am a bit torn between what might be the best API for UtteranceQueue/Utterance and what is best for PhET's usage. https://github.com/phetsims/utterance-queue/issues/20#issuecomment-889881374 could be confusing, but it seems necessary to support putting an Utterance through more than one UtteranceQueue t a time.

I think ideally, Utterance should not be aware of the UtteranceQueue it is in. And cr

[2021-08-03 15:22] jessegreenberg commented on #13
OK, that sounds good to me!

[2021-08-03 20:16] zepumph commented on #20
One side note, it seems like the incrementing side effect in getTextToAlert should be instead incremented in UtteranceQueue. That would be good to do no matter the outcome of this issue, but it seems related, so I am tagging a TODO in this issue as I work on https://github.com/phetsims/aqua/issues/127

[2021-08-05 01:32] zepumph commented on #14
I thought this would be nice while working on https://github.com/phetsims/utterance-queue/issues/20, I think I'll take a stab at that.

[2021-08-06 17:03] jessegreenberg opened #22 "Should we prevent announce from being used when setting phet-io state?"
This came from https://github.com/phetsims/balloons-and-static-electricity/issues/521, where it was suggested that we should prevent alerts from coming out of the sim while the sim changes during a phet-io state set.

This is in the "phet-io + a11y" overlap category and likely needs a decision before greenhouse-effect is published with PhET-iO + Interactive Description.

[2021-08-06 18:56] zepumph commented on #20
@jessegreenberg and I discussed, and we like this sort of method, where instead of the queue objects being Utterances, we wrap them in data that is only for that single queue (and really for that single instance of the Utterance added to that queue.

[code]

[2021-08-06 18:57] zepumph commented on #13
@jessegreenberg and I confirmed, we will go with:

[code]

[2021-08-07 17:17] zepumph commented on #13
I encountered that this is a bit of a weird pattern to try to conform our Describer and AlertManager patterns to. No we need a reference to a Node in order to alert to the description utterance queue. I will convert as many usages as I can, but this is certainly not easy in some cases, like pretty much every usage of utteranceQueue in Friction at the moment. I'll continue with my conversion, but I

[2021-08-07 17:20] zepumph commented on #13
- [ ] I also found that this line will get quite a bit more annoying, to support an arbitrary number of utteranceQueues being connected to the resetAllButton. https://github.com/phetsims/scenery-phet/blob/e8f9f44b3272f48d014138ae560284485dff11da/js/buttons/ResetAllButton.js#L86-L107

[2021-08-07 17:28] zepumph commented on #13
For the a11y view, there is this line:

https://github.com/phetsims/chipper/blob/5a7e7770163f9b524dc262f8ccb2a2f9d7426f97/templates/sim-a11y-view.html#L519

this felt like an alright use of the global, but I am grabbing it from the display directly now, because hopefully we can get rid of `sim.utteranceQueue` as a global

[2021-08-07 18:23] zepumph commented on #13
- [ ] AccessibleValueHandler is weird too, I should look into that one.

[2021-08-07 21:48] zepumph commented on #13
Ok. I felt good enough to commit these changes, and the snapshot comparison task didn't reveal any differences in how the utterances were being emitted (so excited for that test btw!!). From here, the main concern is to figure out how we want to support the current *Describer and *AlertManager patterns, which are heavily used in some sims. Where those patterns control alerting, there seems to be n

[2021-08-07 21:48] zepumph commented on #13
High priority at this point because it is hopefully close to being complete, and so we should sprint on it to finish it off.

[2021-08-07 22:59] zepumph commented on #20
I made some good progress on this today, but I had to give up because I ran out of time just when I ran into a mistake I made about if removeUtterance takes an utterance or an utteranceWrapper. Likely I should make two different methods (and only one is public).

[code]

[2021-08-08 12:58] zepumph commented on #20
I had more luck this morning on this! I split out the removal methods to two different functions, one for utteranceWrapper and one for utterance.

This was a great first step for this issue, and tests are passing. My testing didn't show any differences (50 fuzzing frames of snapshot in molarity all had identical utterances emitted). From here we can work on the alert as an array/loopAlerts/numberO

[2021-08-10 23:10] jessegreenberg commented on #20
Progress is looking good! With the movement of `resetTimingVariables` this usage in AccessibleValueHandler https://github.com/phetsims/sun/blob/ca4c2fb861e678adc960a84f67b90875eaab3e1c/js/accessibility/AccessibleValueHandler.js#L414 is causing an error. That is the only usage of the function, is it safe to remove? I would think that `alertStableDelay` would provide the delay we need each time it i

[2021-08-11 18:29] zepumph commented on #20
You did just great. Thanks for catching my error @jessegreenberg.

[2021-08-12 00:10] zepumph commented on #20
I ran into trouble with an Utterance that has an array as an alert (`MovementDescriver.alert()`) when collecting responses for voicing. I think it is time to support this now.

[2021-08-12 00:29] zepumph commented on #20
I'm so torn about how to proceed here! I thought I would be ok with only supporting array alerts a single Utterance instance per queue (see patch below). It worked great for BookMovementDescriber, but then I got to BorderAlert.alert() and felt again like we should do a count per utteranceQueue, and support adding an Utterance to any queue, and the cycling will be unique to the queue it is added to

[2021-08-12 14:42] zepumph opened #23 "UtteranceQueue.getAriaLiveContainer doesn't belong in UtteranceQueue"
While working on https://github.com/phetsims/utterance-queue/issues/14#issuecomment-893094034, I was thinking that we should pull out as much AriaHerald-specific stuff as possible, because we have expanded the functionality of UtteranceQueue.

I don't think UtteranceQueue.fromFactory needs to change, because it serves as a great hello world, but we don't need a function specific to ariaLiveContain

[2021-08-12 14:44] zepumph opened #24 "Hello world examples are not working."
While reviewing ways to go for https://github.com/phetsims/utterance-queue/issues/23, I found that our examples from the README don't work. This is bad and embarrasing in general, but it also makes me feel like I don't fully understand how UtteranceQueue works, or if there is a little bug I'm forgetting vs a big bug that we need to know about for these simple cases.

[2021-08-12 14:51] zepumph commented on #14
I made an `Announcer` base class, I had to swap EnabledComponent in VoicingManager to be composed to make it work. @jessegreenberg can you please review. Anything else here?

[2021-08-12 15:32] zepumph opened #25 "Shouldn't announceImmediately use canAlertUtterance?"
Even though this function is meant to immediately announce an utterance, bypassing the queue, it still feels like we should be utilizing the same type of algorithm where we adhere to the Utterance's predicate. What do you think?

[2021-08-12 15:33] zepumph commented on #25
One reason I want this is so that in https://github.com/phetsims/utterance-queue/issues/22 we can use `UtteranceQueue.canAlertUtterance` as a central place to check if PhET-iO state is being set. Would that work?

[2021-08-12 15:34] zepumph commented on #22
Yes very nice thought! We do the same thing for sound:

https://github.com/phetsims/tambo/blob/98effa9c6a488ec3520c7884e61f493b7615d9fd/js/soundManager.js#L188

I think my ideal strategy for this is on hold by https://github.com/phetsims/utterance-queue/issues/25. If that comes through, we could use UtteranceQueue.canAlertUtterance as the spot to check this.

[2021-08-12 15:36] zepumph commented on #13
- [ ] Don't forget about the usage of `addToBackIfDefined`, which I left out of above searches on accident.

[2021-08-12 15:51] zepumph opened #26 "UtteranceQueue implementAsSkeleton is an anti-pattern"
While working on https://github.com/phetsims/utterance-queue/issues/17, I'm pretty sure that we could get rid of this confusing implementation detail in UtteranceQueue (a remnant of baseline API files for PhET-iO). I don't think there is anything checking the runtime against what is expected to be in it. This shouldn't even be an API change, since the sims being published with description are the

[2021-08-12 16:00] zepumph commented on #17
I'm a little bit ambivalent on this again, because I feel like UtteranceQueue should be the central location for text to go through, even if it is being processed through `announceImmediately`. Why do we need to instrument each individual announcer, when we could fulfill our goals by having the same lines use `Utterance.getAlertText()`. I would like to discuss this further.

[2021-08-12 22:35] zepumph commented on #20
@jessegreenberg and I discussed the above. Given `BorderAlert.alert` and `MovementDecriber.alert`, it seems like we should try hard to support 1 Utterance in 2 queues.

Some strategies that were hard for us to think through:
* `Utterance.perQueueData[utteranceQueue.uniqueID].numberOfTimesAlerted`, the biggest problem for this one was that now `Utterance.getAlertText()` would need to have an instan

[2021-08-12 22:38] zepumph commented on #26
@jessegreenberg mentioned that we can't do this until there aren't any more usages that use the global pattern like

`phet.joist.sim.display.utteranceQueue`, because in some common code that may be called when not in a description-supported runtime.

[2021-08-12 22:57] zepumph commented on #18
@jessegreenberg and I co-reviewed this, and we created https://github.com/phetsims/scenery/issues/1269. Closing

[2021-08-12 22:57] #18 closed

[2021-08-12 22:58] zepumph commented on #25
I spoke with @jessegreenberg, we will add this support, and perhaps factor this out with the announce() call to another function in UtteranceQueue called both by immediately and not immediately announcings.

[2021-08-12 23:05] zepumph commented on #17
We are going to flip flop again! After talking with @jessegreenberg, we think that Announcer should extend PhetioObject, and we can instrument that way.

[2021-08-12 23:11] zepumph commented on #23
I talked with @jessegreenberg, we agree, option 1!!!

[2021-08-12 23:15] zepumph commented on #13
I explained the issue to @jessegreenberg, and we didn't have anything off the top of our tired little heads, but we will meet next week to discuss further.

[2021-08-13 00:18] zepumph opened #27 "Utterance terminology"
I have noticed a lot of indiscretion as it pertains to the terminology involved with Utterances. I would like to potentially set it straight, or at least get on the same page. Here are the words that I come in contact with quite often, and what I would like the definitions to be:

* Alert (_v_): to release an Utterance to aria-live, and solely a description term. Used to describe what comes from d

[2021-08-13 00:48] zepumph commented on #25
I ended up getting rid of canAlertUtterance, in exchange for a factored out function that checks the same conditions, and then announces (attemptToAnnounce). Closing

[2021-08-13 00:48] #25 closed

[2021-08-13 00:55] zepumph commented on #23
Implemented, closing.

[2021-08-13 00:55] #23 closed

[2021-08-13 00:55] zepumph commented on #22
https://github.com/phetsims/utterance-queue/issues/25 has been implemented. I'll add this now.

[2021-08-13 01:27] zepumph commented on #22
I wasn't able to complete this right now. Here is my current patch:

[code]

[2021-08-13 16:14] zepumph commented on #22
I see two paths forward, and I would like to ask @samreid's opinion about it before moving forward. The first is to embed iO state checking into UtteranceQueue, but this seems a bit heavy-handed:

<details>

[code]

</details>

The next is to have Sim.js do the work. That way we are keeping iO specific code out of the library (since it isn't needed anyways).

<details>

[code]

</details>

@samrei

[2021-08-13 16:45] zepumph commented on #17
For context, the announcer is the best place for this because there is further logic in the announcer that may keep an announcement from being announced.

Next for this issue, I'm going to instrument voicingManager and ariaHerald (by having Announcer extend PhetioObject but be `Tandem.OPTIONAL`).

Then we will discuss if we still want UtteranceQueue to be instrumented from there. I don't really se

[2021-08-13 17:17] zepumph commented on #17
I could see this working, but I feel like instead we should perhaps just create and instrument a single Emitter on `Announcer` that is instrumented for PhET-io. I'll try that next and see how  I like it.

<details>

<summary> Announcer extends PhetioObject </summary>

[code]

</details>

[2021-08-13 17:55] zepumph commented on #17
I spoke with @samreid, we will proceed with this patch over the above:

<details>

[code]

[2021-08-13 18:30] zepumph commented on #22
After discussing with @samreid on a call, we decided that the above commit made sense. There is already precedent for this with how sounds are handled. There was still an important design decision to discuss though, about what the behavior should be for these announced features. If a PhET-iO client sets a state on a sim, should the description or voicing detail that? Should it say what has happene

[2021-08-13 18:37] zepumph commented on #17
There was one question in the above patch that we didn't get to. @samreid is it alright to instrument the voicingUtteranceQueue as a singleton? This will then be added to every sim, even if it doesn't support voicing. Does that seem alright to you? I think it is alright, but I understand if we should discuss this further.

[2021-08-16 18:50] zepumph commented on #17
Not sure if this is any different from the most recent one:

<details>

[code]

[2021-08-16 21:08] samreid commented on #17
Is there a way to instrument it as a singleton, but leave it uninstrumented for sims that don't support voicing?  I'm concerned that, while adding a `voicingUtteranceQueue` to every sim is in our long term goals, it seems odd to go through an intermediate phase where some sims have a queue that does nothing--may seem broken.

[2021-08-17 16:18] zepumph commented on #27
@jessegreenberg and I discussed today, and we note that there is discrepancy in how we use this terminology. That said we want to talk about it more next week after thinking about it for a week.

We are pretty sure that this would be an improvement.

See you next week!

[2021-08-17 16:45] zepumph commented on #27
What about `AlertManager`? Does that mean it only can support description Utterances? (hopefully not!)

[2021-08-17 16:47] zepumph commented on #13
I talked with @jessegreenberg about this today, and we would like to pursue the following strategy

* Create a base class `AlertManager` that takes a node, and creates forwarding methods to `alertDescriptionUtterance` and `forEachUtteranceQueue` in the PDOM.
* Go through current usages of `phet.joist.sim.utteranceQueue` and refactor those types into AlertManagers. There are cases where types calle

[2021-08-17 16:49] zepumph commented on #27
Tagging https://github.com/phetsims/utterance-queue/issues/13

[2021-08-17 17:56] zepumph commented on #13
I created AlertManager and tested things out in Friction (in https://github.com/phetsims/friction/issues/217). We are now down to 43 usages of `phet.joist.sim.utteranceQueue`.

[2021-08-17 18:17] zepumph commented on #13
Down to 36 now after Molarity.

[2021-08-17 18:32] zepumph commented on #13
Fixed ResetAllButton above.

[2021-08-18 20:18] zepumph commented on #13
BalloonDescriber fixed above.

[2021-08-18 22:03] zepumph opened #28 "Assertion should use AlertableDef.js"
https://github.com/phetsims/utterance-queue/blob/c5024988addef3818199c1bad305d4b9c6e1e385/js/Utterance.js#L77

This is out of date.

[2021-08-23 19:11] zepumph opened #29 "Unit tests take too long to run"
We are sleeping the thread much too long for these unit tests. Sometimes we sleep for >1 second per utterance. Let's make that much shorter so this runs quicker.

[2021-08-23 19:20] zepumph commented on #29
Working great over here! I also got rid of sleep, since it was async, but still used a callback (weird).

[2021-08-23 19:20] #29 closed

[2021-08-23 19:22] zepumph opened #30 "Reset numberOfTimesAlerted when alert changes"
Small bug fix needed for https://github.com/phetsims/friction/issues/214.

[2021-08-23 19:43] #30 closed

[2021-08-24 18:39] zepumph opened #31 "Utterance to support alerts created from responseCollector"
While brainstorming solutions around https://github.com/phetsims/friction/issues/211, @jessegreenberg and I thought it may be helpful to bring the notion of categories of responses into the utterance-queue library. We came up with a "ResponsePacket" which can be added to the definition in AlertableDef, and that Utterance knows how to support. This involves moving a couple of classes from scenery i

[2021-08-24 19:52] zepumph commented on #31
Commit comming soon, but I was able to use this patch to test that this is working as expected. When I changed the response levels with preferences checkboxes, the alerts from the Utterance (i.e. `ResponesPacket`) were respected.

[code]

So the "rub fast or slow" hint is only given when the hint checkbox is provided.

[2021-08-24 21:00] zepumph opened #32 "ResponsePatterns should be a class"

[2021-08-24 21:01] zepumph commented on #32
(renamed from VoicingResponesPatterns in https://github.com/phetsims/utterance-queue/issues/31.

[2021-08-24 21:05] jessegreenberg commented on #32
Im sure this is great, but can you please comment on why it is beneficial to be able to instantiate a ResponsePatterns?

[2021-08-24 21:07] zepumph commented on #32
Only minor reasons as I worked on https://github.com/phetsims/utterance-queue/issues/31.

* I noticed that the type def in Voicing.setVoicingResponsePatterns takes only an object.
* I see that the primary way of creating response patterns is with ResponsePatterns.createResponsePatterns(). So to me the main question is really, "why is this factory-ish method better than just using a POJO, when we t

[2021-08-24 21:15] zepumph commented on #32
Another minor thing. @jessegreenberg do you think we should rename to something that is singular?

[2021-08-24 21:20] zepumph commented on #32
@jessegreenberg please review, and comment on the above thought about a rename.

[2021-08-24 21:32] jessegreenberg commented on #32
The change looks good. A rename would also make sense. Was originally plural because the VoicingResponsePatterns object was expected to contain multiple objects like DEFAULT_RESPONSE_PATTERNS that might be helpful. Now that it is a class the reusable the reusable ones can be added statically like

[code]

It will contain a collection of response patterns, so maybe the name should be ResponsePatter

[2021-08-24 21:36] zepumph commented on #31
All TODOs have been completed above.

We now have support for ResponesPackets in Utterances, and within the arrays `Utterance.alert` takes. I also took on some house keeping in regards to moving responseCollector et al over to utterance-queue.

@jessegreenberg please give this a review. Within the review please comment on if you feel like I missed anything, or if we aren't completely thinking thro

[2021-08-24 22:16] jessegreenberg commented on #24
I just looked into this (as a way to potentially test another change). Oddly, things only seem broken in Chrome. Alerts in the examples are coming through in firefox. Also, I see the AriaHerald elements updating in the document in Chrome. The AT just isn't reading them with Chrome + NVDA.

Alerts are working in sims with Chrome + NVDA though.

[2021-08-24 22:19] jessegreenberg commented on #24
If I comment out this line, alerts work in Chrome:
https://github.com/phetsims/utterance-queue/blob/ec3ed28d5bbae31224ce24487ee48d5820d84832/js/AriaHerald.js#L183

[2021-08-24 22:22] jessegreenberg commented on #24
https://github.com/phetsims/scenery-phet/issues/491 Is the related issue for the values used in that timeout.

[2021-08-24 22:27] jessegreenberg commented on #24
I changed the timeout code to
[code]

But I see the element and 'clearing' in the console instantly instead of behind a 5000 ms delay. Curious if there is an issue with the steptimer, like it thinks more time has passed than actually has to instantly call the timeout callback.

[2021-08-24 22:41] jessegreenberg commented on #24
The issue for https://github.com/phetsims/utterance-queue/issues/24#issuecomment-905018500 is happening because the arg for the requestAnimationFrame callback is not the elapsed time in ms, but the total time relative to the [start of the document lifetime](https://developer.mozilla.org/en-US/docs/Web/API/DOMHighResTimeStamp#the_time_origin).

Changing the example code involving the stepTimer to t

[2021-08-24 22:57] jessegreenberg commented on #24
The above commit fixes the second example with Chrome + NVDA. I still am not hearing the alert for the first example. I am finding I need to do this to get it to work in Chrome.

[code]

@zepumph what do you think, worth making the example more complicated so it works on Chrome? Maybe there is another workaround or even example that would be better for a basic use case that doesn't have this issue

[2021-08-25 19:16] jessegreenberg opened #33 "utterance-queue is dependent on scenery"
utterance-queue currently has a dependency on scenery because of a usage of PDOMUtils in AriaHerald. But scenery depends on utterance-queue, so this introduces a circular dependency. How should we handle? Move PDOMUtils to something that is a dependency for both scenery and utterance-queue? Move just the used function? Duplicate the used function?

[2021-08-25 21:17] #14 closed, assigned to jessegreenberg

[2021-08-27 17:45] zepumph opened #34 "Move most voicingManager logic to this repo"
@jessegreenberg and I think it would be an improvement to factor out the basic announcer functionality for general use in utterance-queue. @jessegreenberg  mentioned that @chrisklus and him had a use case where it would have been nice to have a way to use speech synthesis without the full, "voicing" scenery feature.

Let's name this factored out type in utterance-queue to `SpeechSynthesisAnnouncer

[2021-08-27 17:46] zepumph opened #35 "Rename AriaHerald to AriaLiveAnnouncer"
From https://github.com/phetsims/utterance-queue/issues/34, let's be consistent with technology (aria-live) and suffix (Announcer subtype). @jessegreenberg volunteered in our meeting!

[2021-08-30 17:35] zepumph commented on #17
@samreid, I think this warrants a sync discussion together. There is nuance and history that I would most prefer to share together. Would you send me a calendar invite?

[2021-09-01 20:09] zepumph commented on #13
- [ ] I also have to handle AccessibleValueHandler

[2021-09-01 20:33] zepumph commented on #13
- [x] There are still some usages of `phet.joist.sim.utteranceQueue` commented in Faradays Law

[2021-09-01 20:50] zepumph commented on #13
- [ ] I need to fix documentation in https://github.com/phetsims/phet-info/blob/f1ae8f2f1316a9fc21ea0fc79d09bb011a4b1455/doc/interactive-description-technical-guide.md#L121

[2021-09-01 20:58] zepumph commented on #13
OK. I can't see anything more to do in this issue. I thought about keeping it open to remove the Sim.utteranceQueue getter, but we should just do that as part of the last usage over in https://github.com/phetsims/greenhouse-effect/issues/70.

@jessegreenberg, will you please review all commits in this issue, even though you have been part of this as we went. Can you think of any loose ends from th

[2021-09-01 21:49] zepumph commented on #24
You had it really close, but the previous time should be relative, not absolute. I fixed this in the above, commit, and saw that things were working as expected in the examples. Please review.

[2021-09-01 21:55] zepumph commented on #28
This seems to have already happened.

https://github.com/phetsims/utterance-queue/blob/8607d56ac00a5a406d57a55c2d45c4a671039d74/js/Utterance.js#L82

But I see another spot.

@jessegreenberg will you please review?

[2021-09-01 22:06] samreid commented on #17
@zepumph can you please summarize our meeting?

[2021-09-01 22:07] zepumph commented on #32
Hows that?

[2021-09-09 00:54] chrisklus commented on #34
For a paper trail, this was needed over in https://github.com/phetsims/number-play/issues/32

[2021-09-15 21:15] zepumph commented on #20
Lots has happened since the last time we had this discussion. I think that all usages of array-supported Utterance alerts has been deleted. I recommend that we get rid of that support. I think it will greatly improve the utterance-queue library. I'll touch base with @jessegreenberg on friday about this.

[2021-09-17 19:36] zepumph commented on #20
I discussed with @jessegreenberg, and we will remove the array-alert support. In the future if this comes up again, perhaps we can subtype or come up with another solution. Then I'll go over this issue, and mark it for review by @jessegreenberg.

[2021-09-24 21:10] jessegreenberg commented on #24
Got it, good catch, thanks! Working well, closing.

[2021-09-24 21:10] #24 closed

[2021-09-24 22:32] zepumph opened #36 "deprecate UtteranceQueue.addToFront()"
While working on https://github.com/phetsims/friction/issues/242, @jessegreenberg and I found that addToFront was actually not doing anything, and it was really confusing. We found a better way forward was to just addToBack, and to potentially clear() the queue first, because we wanted to interrupt what was in the queue.

@jessegreenberg, does it seem right to you to try to remove this function, o

[2021-09-24 22:34] jessegreenberg commented on #36
Yes, i am strongly in favor of removing addToFront.

[2021-09-27 16:02] jessegreenberg commented on #35
I just made this rename and I don't see any hits of AriaHerald in the project anymore (other than a11y views). Sims are fuzzing without error an unit tests are passing. So next steps are to re generate a11y views and then update PhET-iO APIs.

[2021-09-27 16:31] jessegreenberg commented on #35
A11y views have been re-generated. I ran ```perennial/bin/for-each.sh phet-io-api-stable grunt generate-phet-io-api
[code]

[2021-09-27 16:50] jessegreenberg commented on #33
I tried to do this but `setTextContent` uses `validate` which lives in axon. I don't think we should introduce axon as a dependency of phet-core because axon already depends on phet-core and that would trade this circular dependency for another.

[2021-09-27 16:57] jessegreenberg commented on #33
I wondered about moving `validate` out of axon because it seems useful for more than just observables and inquired about that in https://github.com/phetsims/axon/issues/361. I think this is on hold until we get a yay or nay over there.

[2021-09-27 17:33] jessegreenberg commented on #32
Looks very good, thanks for this improvement! I like how this looks when overriding the default patterns
[code]

[2021-09-27 17:33] #32 closed

[2021-09-27 23:27] zepumph commented on #35
This is all looking really nice here. Thanks for the rename. I think it will help convey how our Utterance system works.

I see two more usages of `ariaHerald` in the a11y views for example sim and greenhouse.

Nothing else for me.

[2021-09-27 23:43] zepumph commented on #36
I did all the easy stuff. There are three usages of this in sims: Molarity, Greenhouse, and Friction. Friction will be handled in https://github.com/phetsims/friction/issues/242. I will create issues in Molarity and Greenhouse.

[2021-09-27 23:47] zepumph commented on #36
Issues created. Anything else here @jessegreenberg?

[2021-10-01 20:15] jessegreenberg commented on #33
While discussing https://github.com/phetsims/axon/issues/361, @samreid suggested that the `validate` portion of `setTextContent` could just be removed so that we could move it into phet-core. We can copy the regex in `ValidatorDef.STRING_WITHOUT_TEMPLATE_VARS_VALIDATOR`, or move IT into phet-core to be used in scenery.

[2021-10-15 20:28] #35 closed, assigned to jessegreenberg

[2021-10-15 20:31] jessegreenberg commented on #36
Thanks for the deprecation warning and making issues, closing.

[2021-10-15 20:31] #36 closed

[2021-10-20 15:55] zepumph opened #37 "UtteranceQueue should ask if announcer is ready for next utterance"
From https://github.com/phetsims/scenery/issues/1288, @jessegreenberg and I don't like that there is duplicated code with a queue in utterancequeue and also in voicingManager. These can be combined. The way to do this is just to ask the announcer before announcing. AriaLiveAnnouncer will always say yes, but voicingManager will want to wait until the current element in the synth is done.

We came a

[2021-10-21 05:36] zepumph commented on #37
@jessegreenberg, please let me know if I can assist here more, and bring this up at our Friday meeting if you'd like.

[2021-10-22 18:33] jessegreenberg opened #69 "Replace VoicingManager.speakIgnoringEnabled with a Property controlling speech"

[2021-11-12 00:49] jessegreenberg commented on #37
This was done in the above commits and voicingManager no longer has its own queue. The original plan in https://github.com/phetsims/utterance-queue/issues/37#issue-1031574580 worked very well.

The hardest part of this change was giving voicingManager (an Announcer) full control over the UtteranceQueue `queue`, which was necessary because voicingManager had full control over its queue to add/remov

[2021-11-12 17:32] zepumph commented on #37
`announceImmediately` will completely lose an utterance if the Announcer is not ready to speak. Do we want different behavior for that function instead of a Noop?

Looking forward to more conversation.

[2021-11-12 19:58] jessegreenberg commented on #37
One thing we talked about together today was that if we are using polling more anyway to decide when `readyToSpeak` can be set to `true`, why not use the step function entirely to replace `start` and `end` event listeners on the SpeechSynthesisUtterance. These events are buggy on multiple platforms and we have workarounds in place to catch when they fail. We could go all in on the step function an

[2021-11-12 20:27] jessegreenberg commented on #37
As for https://github.com/phetsims/utterance-queue/issues/37#issuecomment-967291483, we decided to implement a behavior where attemptToAnnounce will add an Utterance to the back of the queue if the Announcer is not ready. attemptToAnnounce does not prioritize the Utterances with the Announcer or collapse the same Utterances, but Utterances added in this way are read in last-in-first-out order. We

[2021-11-12 20:37] jessegreenberg commented on #37
Another thing @zepumph noted was that it is strange that the `cancelEmitter` allows bi-directional communication between Announcer and UtteranceQueue. Can we replace the `cancelEmitter` with calls to cancel the UtteranceQueue instead? It seems very possible if the UtteranceQueue can also cancel anything being spoken by the Announcer.

[2021-11-12 22:47] jessegreenberg commented on #37
I investigated what it would look like to replace the `cancelEmitter` with cancelling the UtteranceQueue instead, and the following patch is what I came up with. I added an abstract `cancel` to Announcer which cancels the synth in voicingManager. This way `utteranceQueue.clear()` also cancels any ongoing speech. The hardest thing to replace is the `boundHandleCanSpeakChange` in `voicingManager.ini

[2021-11-12 23:18] zepumph commented on #37
Up to you. I appreciate the investigation and totally trust whatever direction you would like to take this.

[2021-11-15 15:33] jessegreenberg commented on #37
Made progress on this that I will need to return to. It is working well but I am hitting an assertion in `requestSpeech` for "We should never request speech while we are already speaking" and need to figure out why.

<details>

[code]

</details>

[2022-01-05 20:14] zepumph opened #38 "Utterance.loopAlerts should be removed"

[2022-01-05 21:43] zepumph opened #39 "Utterance.alertMaximumDelay is broken"
I found this while working on https://github.com/phetsims/sun/issues/730. I added a alertMaximumDelay and it was completely broken. From investigation I found two issues in the newly written `removeOthersAndUpdateUtteranceWrapper` function, and wrote tests to confirm the fix into the future.  Commits comming soon.

[2022-01-05 21:49] zepumph commented on #39
@jessegreenberg, does this look good to you?

[2022-01-06 16:58] jessegreenberg commented on #39
This looks great, sorry for the bug and thank you for fixing this.

[2022-01-06 16:58] #39 closed

[2022-01-08 00:13] jessegreenberg opened #57 "voicingManager.speakIgnoringEnabled should be replaced"
We need a different function to speak without using the voicing framework. We don't like the example usage in number-play. It should ideally use the UtteranceQueue.

[2022-01-11 17:50] zepumph opened #40 "priorityProperty doesn't interrupt currently voiced utterance on Firefox"
Utterance priority because observable via Utterance.priorityProperty over in https://github.com/phetsims/joist/issues/752, but @jessegreenberg and I found that the current implementation doesn't seem to work on Firefox. This will need more investigation.

[2022-01-11 18:13] zepumph opened #41 "Deprecate AriaLiveAnnouncer.announcingEmitter"
From https://github.com/phetsims/joist/issues/752, we now have a more consistent robust API for this feature, and it doesn't look like the change will be that invasive.

[2022-01-11 18:14] zepumph opened #42 "Prioritization needs to be supported by UtteranceQueue.announceImmediately"
From https://github.com/phetsims/joist/issues/752, We need to add this feature to announceImmediately. We have only gotten to addToBack thus far.

[2022-01-11 18:16] zepumph commented on #42
There are TODOs pointing to this issue

[2022-01-11 18:41] zepumph commented on #41
Done above. I needed access to the value of `Utterance.getAlertText` without the side effects, from tests, so I created Utterance.previousAlertText. In general it makes things a bit easier, since otherwise we can't get that value from the Utterance (a responseCollector Property could have changed in the interim).

@jessegreenberg please review.

[2022-01-13 22:38] jessegreenberg commented on #40
Here is the breaking case in Firefox:
[code]

The secondUtterance priority is set such that it should interrupt the first utterance, and then we should hear the third utterance.

[2022-01-13 22:52] jessegreenberg commented on #40
In Chrome, we eventually call `voicingManager.cancelSynth()` when changing `secondUtterance.priorityProperty`.  We never hit that in Firefox.

[2022-01-13 23:27] jessegreenberg commented on #40
const noCancelOptions = {
  cancelSelf: false,
  cancelOther: false
};

const firstUtterance = new phet.utteranceQueue.Utterance( {
  alert: 'first utterance is long enough that it should take some time to be interrupted.',
  alertStableDelay: 0,
  announcerOptions: noCancelOptions
} );
const secondUtterance = new phet.utteranceQueue.Utterance( {
  alert: 'second utterance',
  alertStableDelay: 0,

[2022-01-13 23:36] jessegreenberg commented on #40
The problem comes from using this.getSynth().speaking and `readyToSpeak`

[code]

In Firefox, this.getSynth().speaking is false for a while after the synth starts speaking (it must be set asyncronously). It is true immediately after speech starts in Chrome, it must be set true synchronously.

[2022-01-14 01:21] jessegreenberg commented on #40
The fix I applied was to eagerly update a timing variable for `VOICING_UTTERANCE_INTERVAL` so that when we call requestSpeech readyToSpeak will be false until the interval is up, giving the browser time to set `SpeechSynthesis.speaking` to true.

Then I went back to the unit tests and updated the timeouts so that we wait for times that are ~half of the time it takes the Utterance to speak instead

[2022-01-14 15:02] jessegreenberg commented on #41
These changes look good to me, thanks for taking this on.

[2022-01-14 15:02] #41 closed

[2022-01-14 18:29] jessegreenberg commented on #42
I currently see zero usages of announceImmediately in the project, is this worth supporting?

[2022-01-14 18:49] jessegreenberg commented on #40
Reviewed this with @zepumph today and all seems well with the changes. CLosing.

[2022-01-14 18:49] #40 closed

[2022-01-14 21:23] jessegreenberg commented on #42
Discussed today with @zepumph -

We need `announceImmediately` and want it to to be usable instead of `speakIgnoringEnabled` (where that function is used for synchronous speech).

We discussed replacing `announceImmediately` with `announceSynchronous` which simply no-op if the announcer wasn't ready to speak intead of adding the utterance to the front of the queue. But we convinced ourselves that

[2022-01-14 22:12] jessegreenberg commented on #42
I am running into a problem again where UtteranceQueue assumed that there would only be one reference per Utterance in the queue at a time. The current behavior of announceImmediately breaks this by always putting the Utterance at the front of the queue. It seems very reasonable to me that announceImmediately would also remove duplicate Utterances in the queue, and I don't see any reason not to do

[2022-01-14 22:32] zepumph commented on #42
Let's go with that then! But please make sure to document well all the excentricities of announceImmediately. I don't want people using it for any sort of normal occurence.

[2022-01-17 20:03] jessegreenberg opened #43 "It is possible to add a priorityProperty listener twice in Firefox"
While working on #42 I found another case where the async `end` event in Firefox is causing a problem. I made a simple unit test to exemplify:

[code]

The result is hitting assertion

[2022-01-17 20:06] jessegreenberg commented on #43
I considered eagerly removing the listener on `cancelUtterance` so that we can add it back right away when we next call `addToBack`.  But that has a behavioral problem. Firefox will still give the end event from the `cancelUtterance`, but it will hapen after the call to `addToBack`. From the `end` event we will try to unlink the priorityProperty listener so we are no longer observing it even thoug

[2022-01-17 20:33] jessegreenberg commented on #43
Other things I thought of that didn't seem like good solutions or even possible:
1) On cancel, set a flag that will not remove the listener on the subsequent end event. I didn't think about this too hard, but it seems likely to cause confusion.
2) Only remove the priorityProperty listener if the utterance is out of the queue and not being spoken by the synth. Only add listeners if we do not alread

[2022-01-17 22:43] jessegreenberg opened #44 "Something isn't right with the timing in UtteranceTests"
The alertMaximumDelay tests don't always pass, though sometimes they do.

What I am finding is that in between the timeouts like
[code]

The stable time before the timeout is zero, and after the timeout is > 200. So UtteranceQueue things that it has waited 200 ms, even though it has waited only 100.

[2022-01-18 02:23] jessegreenberg commented on #43
This is working well, and I have this case and other unit tests passing on both Chrome and Firefox. Ready to commit.

[2022-01-18 02:50] jessegreenberg commented on #42
I was able to make some good progress on this issue today. https://github.com/phetsims/utterance-queue/commit/2291f6831431562cae28cd734df0981c7e627a9b is the heart of the work and https://github.com/phetsims/utterance-queue/commit/02bfe5c32d99cd68ff1a29eec0737be7434cafd8 updates the documentation for announceImmediately.

I added many unit tests verifying the behavior and timing of announceImmedia

[2022-01-18 13:47] jessegreenberg commented on #44
Hmm, I am not seeing this anymore locally or on CT. At one point in my testing I saw UtteranceQueue.step being called twice from the same stepTimer.emit, so I wonder if I accidentally had stepTimer.emit() twice somewhere in UtteranceTests. But this is not happening anymore, closing.

[2022-01-18 13:47] #44 closed

[2022-01-18 13:53] jessegreenberg commented on #43
This is also ready for review, either separately or at an upcoming a11y dev meeting along with #42.

[2022-01-18 19:48] jessegreenberg opened #45 "Utterances can be removed from the queue as a side effect of Announcer.announce"
See https://github.com/phetsims/joist/issues/752#issuecomment-1015639358.  To reproduce, fuzz a sim that supports voicing and do not click into the simulation. Description of the stack that causes this:
- UtteranceQueue reaches attemptToAnnounce, we call voicingManager.announce. Since we haven't clicked in the simulation yet we get a SpeechSynthesisErrorEvent with error "not-allowed".
- This error

[2022-01-19 20:10] zepumph commented on #42
This is really really nice, by deciding that announceImmediately is basically a glorified addToFront, but I think it is better to have a different name because of its mostly-sync usage needs. Good documentation too! I used this review as an opportunity to clear up our terminology in UtteranceQueue a bit, focusing around announce instead of speak/alert/spoken. This involved the rename from readyToS

[2022-01-19 20:10] zepumph commented on #43
- [ ] Could we rename VoicingUtteranceWrapper to SpeechSynthesisUtteranceWrapper? Is that better name?
- [ ] Could we compine VoicingUtteranceWrapper and UtterancePair, those seem redundant.
- [ ] I would like to have a conversation about clearEmitter, I wasn't totally sure that it was necessary for how this code is working, and I would like to understand it better (a bit off topic here, sorry).
-

[2022-01-20 16:22] jessegreenberg commented on #42
OK, thanks for reviewing. Consistent use of "announce"/"announcer" is good in your commits. I think that is all, ready to close.

[2022-01-20 16:22] #42 closed

[2022-01-20 16:37] jessegreenberg opened #46 "Assertion: "About to add the priority listener twice and only one should exist on the Utterance....""
While working on review for https://github.com/phetsims/utterance-queue/issues/43 I hit this assertion

I think it is consistently happening in Chrome when pressing the voicing toolbar buttons rapidly.

[2022-01-20 21:06] zepumph commented on #45
Makes sense to me. Thanks for the quick turnaround!

[2022-01-20 22:48] jessegreenberg commented on #46
OK I identified the case, it is actually pretty simple. We are not handling what should happen when you add an utterance to the queue while the Announcer is announcing that Utterance.

[code]

[2022-01-20 22:55] jessegreenberg commented on #46
For behavior, it seems important that if you add the Utterance to the queue while the Announcer is still speaking it it should not interrupt. `alertMaximumDelay` requires that an Announcer can be speaking an Utterance while that Utterance still sits in the queue.

We cannot simply remove the assertion. If this ran without error, the listener would be removed when the Announcer was done speaking th

[2022-01-20 23:03] jessegreenberg commented on #46
Brainstorming fixes:

- Only add the priorityProperty listener to the Utterance if the Announcer is not currently speaking that Utterance. Only remove the priorityProperty listener on end if the Utterance is not still in the queue.
- Change utteranceToPriorityListenerMap so that it is not `Map<Utterance,function>` or change it so that we can have more than one listener per Utterance.
- Change Utte

[2022-01-21 00:00] zepumph commented on #46
I feel like this is the way to go, but I would make it a list of functions, so you can remove the one that applies to you. Sorta like the "count" features of scenery node structures. We just said that a constraint of the system (Announcer + UtteranceQueue) is that one Utterance can be in multiple stages of the system at the same time. If duplicates are allowed, then changing the Map to be more tol

[2022-01-21 00:04] jessegreenberg commented on #46
I like that, but I am struggling with how to find the right listener to remove from the list.

[2022-01-21 00:09] jessegreenberg opened #47 "priorityProperty needs to work while an Utterance is added to multiple UtteranceQueues"
Just noticed while working on https://github.com/phetsims/utterance-queue/issues/46. I don't think adding the same Utterance to multiple UtteranceQueues will work with the implementatoin of annoumcenetCompleteEmitter and priorityProperty.

[code]

When one Announcer emits the `announcementCompleteEmitter` listeners on the `utterancePriorityListenerMap`s will be removed from both queues...

[2022-01-21 00:10] jessegreenberg commented on #46
I found another bug that may mean further changes to `utteranceToPriorityListenerMap`: https://github.com/phetsims/utterance-queue/issues/47

[2022-01-21 00:21] jessegreenberg commented on #47
That isn't true, the `announcementCompleteEmitter` is specific to the announcer...I must be getting tired, this can be closed.

[2022-01-21 00:21] #47 closed

[2022-01-21 17:31] jessegreenberg commented on #46
I liked this idea, this morning I tried an approach where we use counting variables to decide whether to add or remove a priorityProperty listener. It is basically a way to implement

without looking at the Announcer.

UtteranceWrapper has a counting variable `usageCount` that counts "usages"
- When an Utterance is added to the queue, increment counting variable.
- When an Utterance is removed fro

[2022-01-21 17:55] zepumph commented on #46
FYI, with this patch, I can test voicing code that doesn't use priority:

<details>

[code]

[2022-01-21 18:13] jessegreenberg commented on #46
Here is another solution that is more simple. It is also passing unit tests. It works by saving a reference to the UtteranceWrapper and priorityPropertyListener when we call `announcer.announce`. Then when we receive the `announcementCompleteEmitter` event, we unlink This way, the `utteranceToPriorityListenerMap` is **only** for Utterances that are in the `UtteranceQueue.queue`. It is fragile beca

[2022-01-21 18:34] jessegreenberg commented on #46
From https://github.com/phetsims/utterance-queue/issues/46#issuecomment-1018034428

Maybe we should just do this.

[2022-01-21 19:18] jessegreenberg opened #48 "Problem using the same Announcer and Utterance with two different UtteranceQueues"
Announcer.announcementCompleteEmitter introduces a problem with using the same Announcer with the same Utterance with two different UtteranceQueues.

Consider the following
[code]

When the `phet.scenery.voicingUtteranceQueue` is finished announcing, the announcementCompleteEmitter` will fire. A listener in both UtteranceQueues will try to remove listeners from testUtterance.priorityProperty. Each

[2022-01-21 19:42] jessegreenberg opened #49 "Issue with two UtteranceQueues sharing an Announcer"
If you share an Announcer between two UtteranceQueues and an UtteranceQueue doesn't empty it is is possible that the second UtteranceQueue will never get to announce because the Announcer is used up (never `readyToSpeak` ) by the first UtteranceQueue.

UtteranceQueues are stepped, and the order that they are stepped is determined by stepTimer listener order (i.e. order of UtteranceQueue creation).

[2022-01-21 19:44] jessegreenberg commented on #49
Lets make a test that fails for it. But this also feels like it is unlikely to happen in the wild, so it is probably not very high priority.

[2022-01-21 19:55] jessegreenberg opened #50 "Create more unit tests for priorityProperty"
From https://github.com/phetsims/joist/issues/752, we noted a bunch of cases we want to support with priorityProperty, specifically

[code]

A few of these were added in UtteranceQueueTests, lets make sure that they are all in there.

[2022-01-21 21:10] jessegreenberg commented on #46
@zepumph and I discussed this during a11y dev meeting today and decided that the issue identified in https://github.com/phetsims/utterance-queue/issues/46#issuecomment-1018747398 is a separate issue and also low priority (see https://github.com/phetsims/utterance-queue/issues/48).

That freed up both solutions in mentioned above. The counting one seemed unnecessarily complicated so we went with ht

[2022-01-21 21:28] jessegreenberg commented on #46
Unit test added above, it is passing in Chrome and Firefox.

[2022-01-21 21:37] jessegreenberg commented on #46
Options were removed from `removeUtterance`, that was the final TODO for this issue. Since the strategy and bulk of the patch was reviewed together I think this is ready to close.

[2022-01-21 22:36] zepumph commented on #46
Id love to review the commits. I think there is one more assertion to add reopening.

[2022-01-21 22:55] jessegreenberg commented on #50
These cases were converted to unit tests in the above commit. They usually pass for me in both chrome and Firefox. But I think they occasionally fail because of the way the stepTimer emits in these tests. Opening a new issue for that.

@zepumph would you like to review or add any more tests?

[2022-01-21 22:57] jessegreenberg opened #51 "Potential issue with stepTimer in UtteranceQueueTests"
The stepTimer emits in before() like
[code]

No matter how much time actually passes in the interval, we emit that `timeInterval` time as elapsed. I think this may be causing inconsistent test results. Usually when I run the tests as they are on master they pass, but every once in a while some fail.

[2022-01-21 22:57] jessegreenberg commented on #51
From #50

[2022-01-21 23:12] jessegreenberg commented on #51
I changed these to emit the elapsed time since the list time stepTimer has emitted and so far tests have not failed for me like they did before. This is noticeably more consistent for me on Firefox where I saw elapsed time swing from 16-48 ms in between each call of `window.setInterval`.

@zepumph just want to make sure you are OK with this change?

[2022-01-21 23:14] jessegreenberg commented on #48
I think we addressed this in the check added in #46
[code]

I think this can be closed, @zepumph do you agree?

[2022-01-21 23:16] jessegreenberg commented on #45
Great, thanks.

[2022-01-21 23:16] #45 closed

[2022-01-22 00:42] jessegreenberg commented on #43
Thank you for reviewing!

Yes, makes sense. Done in https://github.com/phetsims/scenery/commit/1841e9e5298b651a0e7ca314300e7d4fbba22cf2 and https://github.com/phetsims/scenery/commit/1841e9e5298b651a0e7ca314300e7d4fbba22cf2

Yes I think it can be removed. It already has a TODO in Announcer to remove it pointing to https://github.com/phetsims/joist/issues/752, so I think it will soon be gone.

I re

[2022-01-24 17:20] zepumph commented on #50
Looks really nice. Thanks! If I were writing them, I would have a small preference to get rid of resetQueueAndAnnouncer, and instead make each separate test its own qunit test. That way you can put that logic in beforeEach and all will be good. It seems simpler and would have less code. I didn't want to muck with them if you had opinions though.

Over to you!

[2022-01-24 17:38] zepumph commented on #51
Looks really, really great. Good bug fix. Thanks!

[2022-01-24 17:40] zepumph commented on #48
Yes, I remember now. Thanks!

[2022-01-24 17:40] #48 closed

[2022-01-24 17:57] zepumph commented on #46
This looks really really excellent. I want to note an important point of this work, just to make sure I understand it correctly. Let me know if you feel like this needs more explanation in the code. . . . `this.announcingUtteranceWrapper` is storing a reference to the Utterance while it is being announced, but it is never used to cancel/interrupt the utterance. Instead, the code path is through th

[2022-01-24 18:09] zepumph commented on #43
That is the same commit, is there a second one to look at?

This is probably more harm that it is worth, but I feel like `safariWorkaroundUtteranceWrappers` is redundant at this point. Either we don't need it, because the SpeechSynthesisUtterance is being stored in memory by speakingSpeechSynthesisUtteranceWrapper, or we are going to hit this assertion anyways because we never got the end event.

[2022-01-25 18:23] zepumph commented on #37
I am unsure if this issue is on the list, or just out of date at this point. @jessegreenberg, can you reflect on the progress of this issue? Haven't we completed it in other issues?

[2022-01-27 23:22] #51 closed

[2022-01-27 23:30] jessegreenberg commented on #50
I wondered about that - I avoided it because I thought it was trade for more QUnit boilerplate. But coming back I actually strongly prefer it. These tests take forever to run and separating them out into individual tests will let us isolate just a broken test instead of needing to wait for several at a time. Ill break them up.

[2022-01-28 22:41] jessegreenberg commented on #50
Tests have been broken up into individual tests for each that required a reset of queue and announcer. Anything else @zepumph?

[2022-01-28 22:58] jessegreenberg opened #52 "Can we remove safariWorkaroundUtteranceWrappers from voicingManager?"
voicingManager currently lives in scenery but I am putting this issue here because it came from https://github.com/phetsims/utterance-queue/issues/43 and because this issue is part of a collection of other utterance-queue work. And SpeechSynth code may soon move to this repo anyway see #34.

@zepumph said

Earlier today we tried to remove them by removing the `end` event listeners entirely in http

[2022-01-28 22:59] jessegreenberg commented on #52
From https://github.com/phetsims/utterance-queue/issues/43#issuecomment-1020391917

[2022-01-28 23:02] jessegreenberg commented on #43
Sorry, one is supposed to be https://github.com/phetsims/scenery/commit/05ad9257f26b63227a6aa32426cdc8d08b063c12.

I think you may be right! I started a new issue for this, here: https://github.com/phetsims/utterance-queue/issues/52

[2022-01-28 23:07] jessegreenberg commented on #46
I like that assertion a lot, and things are working well with it.

Yes, your description here is correct.

Sounds good, thank you for reviewing this.

[2022-01-28 23:07] #46 closed

[2022-01-29 00:01] jessegreenberg commented on #52
I removed the workaround array. Unit tests are passing in Chrome, Firefox and Safari. I was not able to produce the bug in https://github.com/phetsims/john-travoltage/issues/435 in Safari after this change. So I think we are in the clear. @zepumph since this came from https://github.com/phetsims/utterance-queue/issues/43#issuecomment-1020391917, would you recommend anything else?

[2022-01-29 00:14] jessegreenberg commented on #37
I read through comments in this issue looking for loose ends.

We tried this today in https://github.com/phetsims/scenery/issues/1344 but it ended up being difficult and we decided it was not worth the effort/destabilizing at this time.

Indeed!

You are right, I don't think there is anything else. The remaining work for this issue happened while we worked on making priorityProperty observable (am

[2022-01-29 00:14] #37 closed

[2022-01-31 21:29] #50 closed

[2022-01-31 21:30] zepumph commented on #43
All looks great. Thanks!

[2022-02-01 17:26] zepumph opened #53 "Use ValidatorDef.STRING_WITHOUT_TEMPLATE_VARS_VALIDATOR"
I noticed this validator keeps template vars out of the PDOM, but there is no such logic for the UtteranceQueue. @jessegreenberg, this describes the weird reading block case we had last Friday where there was no error for template variables.

Should be as easy as a check in each Announcer.

Assigning to both @jessegreenberg and me for whoever gets it first.

[2022-02-01 17:26] zepumph commented on #53
Oops, sorry @jonathanolson, please ignore.

[2022-02-01 18:08] zepumph commented on #52
Looks so great. Thank you!

[2022-02-04 17:10] jessegreenberg commented on #52
Great, thanks!

[2022-02-04 17:10] #52 closed

[2022-02-04 17:15] jessegreenberg commented on #43
OK great, thanks.

[2022-02-04 17:15] #43 closed

[2022-02-04 17:30] jessegreenberg opened #54 "Remove Announcer.clearEmitter"
One of the TODOs from https://github.com/phetsims/joist/issues/752, but it should be its own issue.

The clearEmitter emits from voicingManager.cancel() and a listener on it is in the UtteranceQueue to remove any Utterances that remain in the queue. This was necessary after we made UtteranceQueue responsible for all of the queing work of the Announcer.

In order to support `voicingManager.cancel`

[2022-02-04 18:13] jessegreenberg commented on #54
`clearEmitter` has been removed and `cancel` and `cancelUtterance` have been moved to `UtteranceQueue`. The only remaining usage of `voicingManager.cancelUtterance` is in the number-play use case and I think that is about to get removed when we add a separate UtteranceQueue for usages that do not pertain to the Voicing feature.

@zepumph would you like to review this?

[2022-02-04 18:31] zepumph commented on #54
Looks great. thanks

[2022-02-04 18:32] #54 closed

[2022-02-04 23:57] jessegreenberg commented on #34
This is really the way to go to address https://github.com/phetsims/number-play/issues/136, Id like to work on this next.

[2022-02-07 16:55] jessegreenberg opened #55 "Can voicingManager.hasSpoken be removed?"
While working on an unrelated issue I noticed that the `hasSpoken` flag of voicingManager is not used. Can it be removed? Putting in this repo because voicingManager is about to extend SpeechSynthesisAnnouncer which will live in this repo (#34)

[2022-02-07 17:20] jessegreenberg commented on #34
First, I need to move voicingManager to utterance-queue and preserve history. Over slack @zepumph showed me copy-history-to-different-repo.sh in perennial. I think it worked, the patch file looks reasonable. I see commits for voicingManager now in the `git log` of utterance-queue repo.  Then I moved voicingManager into the right location in utterance-queue with WebStorm. After that I still see the

[2022-02-07 22:06] jessegreenberg opened #56 "Make isSpeechSynthesisSupported a static method"
While exercising #34 I noticed that `SpeechSynthesisAnnouncer` instance method `isSpeechSynthesisSupported` would be much more convenient as a static method. I don't see a reason it shouldn't be.

[2022-02-07 22:18] jessegreenberg commented on #56
It is now a static function.

[2022-02-07 22:18] #56 closed

[2022-02-07 22:26] jessegreenberg commented on #34
Mostly done with the above commits. Sims are running, SpeechSynthesis is working, unit tests are passing. Trying it out now in number-play.

[2022-02-07 22:52] jessegreenberg opened #58 "Assertion with announcingUtteranceWrapper when canSpeakProperty.value is false"
From https://github.com/phetsims/number-play/issues/134#issuecomment-1031750987 -

When SpeechSynthesisAnnouncer.canSpeakProperty is false, we never call requestSpeech at
[code]

And so we never emit the `announcementCompleteEmitter` to clear the `announcingUtteranceWrapper` of the UtteranceQueue. So we hit the assertion

To reproduce in a sim, load number-play. Disable all audio with the navigati

[2022-02-07 23:03] jessegreenberg opened #59 "Remove SpeechSynthesisAnnouncer.speak"
It isn't necessary, and there is a duplicated check of `initialized` with announce(). I think it should be removed so `announce` can call `requestSpeech` directly.

[2022-02-07 23:27] jessegreenberg commented on #58
Should be fixed in the above commit. Unit tests are passing, and I can't produce the original case in https://github.com/phetsims/number-play/issues/134#issuecomment-1031750987.

I considered putting a check in attemptToAnnounce around here: https://github.com/phetsims/utterance-queue/blob/37fd8f82b0a55427ecd8100eebeac241b9fd27d5/js/UtteranceQueue.js#L608-L610 so that if the Announcer is not ready

[2022-02-07 23:29] jessegreenberg commented on #59
It has been removed. There were no usages of it.

[2022-02-07 23:29] #59 closed

[2022-02-07 23:30] jessegreenberg commented on #58
I think this should receive a review, @zepumph are you OK with this?

[2022-02-08 17:04] zepumph commented on #58
Yes, I think in general this makes a bunch of sense. I feel as as a whole, you and I go really back and forth about who should hold ze power: UtteranceQueue or Announcer. It has led to some inconsistencies. Most often we say UtteranceQueue is running the show, but we also ask the Announcer for stuff. With this change, we send stuff to the Announcer fully expecting that it may just not be spoken.

[2022-02-11 17:17] zepumph opened #60 "Chrome has a time limit for individual SpeechSynthesisUtterances"
@terracoda and I found this while reviewing the overview button in Ratio and Proportion (https://github.com/phetsims/ratio-and-proportion/issues/363).

Basically, at 1x speed, the overview button stops part way through speaking. This is the text:

[code]

At 1x, it stops around ` As you move the hands up and down`.

@terracoda tested this on safari, and I on Firefox, and those browsers spoke the w

[2022-02-11 20:14] jessegreenberg commented on #60
I have seen this and it is another Chrome bug. Pretty sure it is this: https://bugs.chromium.org/p/chromium/issues/detail?id=679437

[2022-02-11 20:22] jessegreenberg commented on #60
That thread suggests a workaround where you call `pause` and `resume` intermittently to get the engine running again. Reports say it works in Chrome but breaks in other browsers.

[2022-02-16 18:44] zepumph opened #61 "UtteranceQueue implementAsSkeleton should not conditionally instrument"
Lots has changed since this original, conditional instrumentation of utteranceQueue. It is better to just always create, as stated by @samreid in https://github.com/phetsims/phet-io/issues/1584#issuecomment-614068438

I'll adjust that.

[2022-02-16 18:53] zepumph commented on #33
I like this idea! I thought that it would be best to move to phet-core, but it depends on axon, so utterance-queue sounds good for now.

[2022-02-16 19:18] zepumph commented on #61
Ok. I made improvements here as @samreid recommended over in https://github.com/phetsims/phet-io/issues/1584#issuecomment-614068438. Please note that there is a bit more overhaul to do in https://github.com/phetsims/utterance-queue/issues/17, but this is a good start in my opinion.

[2022-02-16 19:18] #61 closed

[2022-02-16 19:23] zepumph commented on #17
That is a great question! I don't think I can at this point. That said, I just ran into this over in https://github.com/phetsims/utterance-queue/issues/61. I think that it would be good to recognize the purpose of utterance-queue instrumentation was to know what was coming out of the sim from this module. I think that at this point Announcer is much more set up to support that. I recommend removin

[2022-02-16 20:07] zepumph commented on #17
Ok. I was able to get `Announcer.announcementCompleteEmitter` instrumented, which to me feels much better than instrumenting UtteranceQueue.

This has been annoying me for some time, but I'm glad I waited because all of @jessegreenberg's awesome work with refactoring Announcer has made this tremendously nice and easy.

For review:
* Expanding from @samreid's idea over in https://github.com/phetsim

[2022-02-16 20:07] zepumph commented on #17
Blocking until it gets reviewed.

[2022-02-16 21:16] jessegreenberg commented on #58
I did not feel the tension but see it now that you mention it.  I don't think this relates to to `canSpeakProperty` (A private DerivedProperty) but I see it as confusing that we have an `enabledProperty` on both the UtteranceQueue and the Announcer.   I could see us making the enabledProperty of the Announcer utterance-queueu internal. Lets open a new issue for this.

[2022-02-16 21:19] jessegreenberg opened #62 "Should the Announcer and UtteranceQueue both have an enabledProperty?"
In https://github.com/phetsims/utterance-queue/issues/58  @zepumph said

UtteranceQueue.muted
UtteranceQueue.enabledProperty
SpeechSynthesisAnnouncer.enabledProperty
SpeechSynthesisAnnouncer.canSpeakProperty

I said

It seems to me that all should go through the utteranceQueue. If the Announcer is disabled, that should be utterance-queue internal.

[2022-02-16 21:19] #58 closed

[2022-02-16 21:30] arouinfar commented on #17
@zepumph I reviewed the things you listed in RaP and they seem to be as described. I really don't know what a client would want or expect here. One question I had was whether or not the `annoucementCompleteEmitter` be read-only. Seems like these things should only emit based on the sim state, not forcibly by the client.

[2022-02-16 21:30] arouinfar commented on #17
I don't have the appropriate permissions in this repo so I can't reassign @zepumph.

[2022-02-16 22:43] zepumph commented on #17
I marked these as phetioReadOnly:true, very good idea!

I think the primary goal for me is to have a way to tap into the inputs and outputs of the simulation. We have architecture set up to track all inputs (mouse/touch/keyboard), and many outputs (model changes, view changes, visual changes like via a screenshot). This seemed like a vital output that was not being conveyed. I could think of any n

[2022-02-16 22:50] #17 closed

[2022-02-21 20:54] jessegreenberg opened #63 "Mimic the SpeechSynthesis API for Android"
This is a specific need of https://github.com/phetsims/fenster/.  Fenster is a Cordova app running a PhET simulation. When running on Android, the app runs the simulation in an Android WebView. `window.SpeechSynthesis` is not supported in Android WebViews so we need to make requests to the Android Text to Speech engine instead. This will presumably happen by making requests with `window.postMessag

[2022-02-21 21:41] jessegreenberg commented on #63
@zepumph helped me brainstorm this. He found a way to assign something to `window.speechSynthesis` before the simulation starts to load from the Fenster app, so we are going to proceed with a Fenster specific solution there.

We discussed that it could be nice to have a general SpeechSynthesis "polyfill" solution in utterance-queue. But the implementation of this will be specific to fenster. And t

[2022-02-21 21:41] #63 closed

[2022-02-25 19:02] jessegreenberg opened #64 "SpeechSynthesis breaks in Chromebooks when switching tabs"
Here is the initial issue where this was discovered: https://github.com/phetsims/number-play/issues/138

[2022-02-28 21:09] KatieWoe opened #65 "Voicing on iPad does not work if initially turned on"

[2022-03-09 23:37] jessegreenberg commented on #65
It looks like there was a `hasSpoken` flag in SpeechSynthesisAnnouncer doing something like this but it is no longer used. This kind of thing belongs in UtteranceQueue now.

[2022-03-11 17:59] jessegreenberg opened #66 "iOS Safari often doesn't trigger start or end event listeners"
While working on related issue https://github.com/phetsims/number-play/issues/134#issuecomment-1032066605 and #65 I am seeing that the start and end event listeners frequenly fail to fire in iOS Safari. Causing an assertion in UtteranceQueue because the `this.announcingUtteranceWrapper` isn't cleared on the `end` event. And reading blocks do not highlight because the `start` event doesn't fire.

I

[2022-03-11 18:00] jessegreenberg commented on #66
I am not too interested in finding a way to "trick" Safari into always firing these events. It seems too unpredictable. Instead I am wondering if we can find a way to handle this gracefully and fallback to some behavior when we don't get these events.

[2022-03-11 20:41] zepumph commented on #20
Pinging my dang self on this again. As I hit it in https://github.com/phetsims/sun/issues/742

[2022-03-11 23:43] jessegreenberg commented on #66
Stream of consciousness notes to help think it through...

Sometimes we don't get a start event or an end event and synth.speaking is false. It is as though we never requested speech in SpeechSynthesisAnnouncer. But listeners are added in UtteranceQueue assuming they will be removed by the `end` event that we never get.

We need to gracefully handle these failure cases somehow, detecting when we r

[2022-03-12 00:21] zepumph opened #67 "Convert to typescript and resolve API type errors"
This means a couple of things:

- [x] resolve the difference between the type that Voicing supports, and Description, and how that works for UtteranceQueue.
- [x] Remove the support for looping alerts in Utterance.
- [x] Convert files to typescript, and make sure that all typing exists harmoniously.
- [x] Get rid of AlertableDef.
- [x] make cancelUtterance and announce abstract after converting Sp

[2022-03-12 00:22] zepumph commented on #20
I will remove the array Utterance alerts in https://github.com/phetsims/utterance-queue/issues/67. @jessegreenberg this issue is now ready for review.

[2022-03-12 00:25] zepumph commented on #67
The main thought @jessegreenberg and I had this afternoon was to have Utterances support functions. And update Utterance so that it is easier to get the "alert text" from an Utterance to pass to voicing .This will better align the two APIs. Mainly this work was brought about by https://github.com/phetsims/sun/issues/742.

[2022-03-12 00:32] jessegreenberg commented on #66
The proposal is working really well so I'm going to commit it. The fundamental changes are
1) There is now a `pendingUtterance` on SpeechSynthesisAnnouncer that is set immediatelety in `requestSpeech`. It's existence well prevent the Announcer from setting `readyToSpeak = true` so that the UtteranceQueue cannot announce anything if it takes longer than `VOICING_UTTERANCE_INTERVAL` between the call

[2022-03-12 00:54] zepumph commented on #67
- [ ] One thing to discuss with this is that I made `null` an acceptable member of `IAlertable`. I want to talk about how to handle that case. Perhaps if the Utterance has null alert, then we just ignore it. @jessegreenberg what do you think?

[2022-03-12 00:59] jessegreenberg commented on #66
Next, I want to fix #65 and then Ill be able to verify if this is fixed in number-play where it was originally found. Finally, Ill check and see if this is working in ChromeOS.

[2022-03-12 21:10] jessegreenberg commented on #65
Option 1 is working well, I tested on iOS Safari, macOS Safari and on Chrome. This is not an issue for Chrome but I saw that the first addToBack used announceImmediately when I commented out the "engine wake workaround" in SpeechSynthesisAnnouncer.

I added an option to Announcer.ts called `announceImmediatelyUntilSpeaking` that will keep trying to use `announceImmediately` until the synth is acti

[2022-03-12 21:19] jessegreenberg commented on #66
#65 is resolved and number-play is working well in iOS Safari. The failure case is now being detected but not handled in ChromeOS. Lets continue that part of the issue in #64.

@zepumph could you please review the two commits here and the summary of these changes in https://github.com/phetsims/utterance-queue/issues/66#issuecomment-1065728444?

[2022-03-12 21:24] jessegreenberg commented on #64
In #66 we added the ability to detect this failure case in ChromeOS.

Hopefully we can find a way to fix it when this happens. Potentially by trying to add it to the back of the queue again until we have a success?

[2022-03-12 21:37] jessegreenberg commented on #64
Actually, the behavior seems quite a bit better now that we have a `cancelSynth()` when we detect the failure case. After this cancel, speech consistently resumes after a couple of seconds. So ~8 seconds after you return to the tab Voicing will start working again.

This seems acceptable to me and I don't think it is worth debugging further. We could try to add the failed Utterance back to the fro

[2022-03-12 22:10] jessegreenberg commented on #20
I reviewed the three commits in this issue that took the timing variables out of Utterance and put them in UtteranceWrapper so that Utterances can be in multiple queues at once. Changes make sense to me and this has been working well for us for some time.

I reviewed the other instance variables of Utterance and it still seems like all work if in multiple queues.

Only thing I spotted was an optio

[2022-03-12 22:23] jessegreenberg commented on #67
Was reviewing this issue and noticed that we lost history for Utterance and UtteranceWrapper, Ill see if I can restore it.

[2022-03-12 23:25] jessegreenberg commented on #67
Here is how I ended up doing it. Im sure there is a cleaner way with git without having to manually revert, but the few things I tried didn't seem to keep history of Utterance either.

- Manually revert all commits (7) until the one before the TypeScript converson.
- `git cherry-pick -n edaef5b00f3308912faf3f2f9abcf4e30ca22462` (the TS conversion SHA)
- `git restore --staged .` to unstage everythi

[2022-03-12 23:36] jessegreenberg commented on #67
I am not sure I understand but this seems fine to me. `null` was the default value for `alert` before this change so hopefully it should be supported. `null` is a valid value of `ResolvedResponse` so do we also need it in the type for `_alert`?

[code]

[2022-03-13 01:16] jessegreenberg commented on #66
This implementation could change a bit to be more complete and support the needs of https://github.com/phetsims/joist/issues/782

[2022-03-13 02:44] jessegreenberg opened #68 "UtteranceQueue.cancelUtterance should remove an Utterance from the queue"
Currently it just forwards the cancel to the announcer but I think the correct behavior would be to also remove the provided utterance form the queue if it is provided. This is causing https://github.com/phetsims/joist/issues/782 and if the utterance were removed from the queue in cancelUtterance we wouldn't have that issue.

[2022-03-13 03:06] jessegreenberg commented on #66
In the above commit I made it so that we remove listeners on the pending utterance when cancel functions are called. Also changed `pendingUtterance` to `pendingSpeechSynthesisUtteranceWrapper` so that we have access to the listeners to remove.

I think this is better but I was wrong about this causing https://github.com/phetsims/joist/issues/782.

Ready for review again, sorry for the confusion le

[2022-03-13 03:14] jessegreenberg commented on #68
Done in the above commit, seems to be working and unit tests still pass.

[2022-03-13 03:14] #68 closed

[2022-03-14 16:28] zepumph commented on #67
Oh wow. Thank you so much! I really appreciate you picking up the git history slack. I should have know better.

I removed duplicate `null` types, and generally cleaned it up. Thank you!

I'm not yet confident that UtteranceQueue is totally set up to our new Utterance.alert type, I want to take another check on this. And then perhaps convert a bit more to typescript and check the rest of the boxes

[2022-03-14 17:27] zepumph commented on #20
Excellent! Thanks

[2022-03-17 20:00] jessegreenberg commented on #64
phetsims/number-play#138 was verified as improved. That is all we will do on this issue for now. I updated the "Accessibility bugs" markdown file in QA to describe what we expect from ChromOS. Closing.

[2022-03-17 20:00] #64 closed

[2022-03-17 20:01] jessegreenberg commented on #60
I ran into this while working on https://github.com/phetsims/quadrilateral/issues/75.

[2022-03-17 20:03] jessegreenberg commented on #60
Concerned that if we do the pause/resume workaround that may send `end` events through the Announcer/UtteranceQueue to dispose of the Utterance. Haven't done any testing.

[2022-03-17 23:52] zepumph commented on #60
Perhaps we can solve this in the purely on the announcer side. Because we can manage the end event there and conditionally "restart" the speech or send things back to the queue. I'm just floating ideas though. I'm not sure.

[2022-03-18 16:14] KatieWoe opened #70 "CT Utterance: alertMaximumDelay tests failed:"
[code]

[2022-03-23 19:03] zepumph commented on #70
I'm pretty sure this is because bayes get's bogged down and it takes a couple more ms to get past the sleep timing here:

https://github.com/phetsims/utterance-queue/blob/2a4bf3c8d3a3f8a9c0c993d9155d72d3ce0a4e58/js/UtteranceTests.js#L124

Such that the last element in the queue has already been flushed. I added grace, and I will check back in next week to see if that fixed things.

[2022-03-28 19:33] zepumph commented on #70
I don't see this anymore on CT. CLosing

[2022-03-28 19:33] #70 closed

[2022-03-29 00:53] zepumph commented on #67
OK. I believe that I'm done with this issue. @jessegreenberg, everything in this batch of commits here was a straight forward refactor except one item. I found that it felt sketchy to have a `getSynth()` that could return null on a platform that doesn't support speech synthesis. We have some support for that case, but I think we rely on assertions a lot to guard against null pointer exceptions. In

[2022-03-31 19:36] zepumph commented on #67
Oops sorry, I forgot to assign you.

[2022-04-01 01:48] jessegreenberg commented on #60
Some notes:

- In https://bugs.chromium.org/p/chromium/issues/detail?id=679437 it was mentioned that this is only an issue for the "Google" voices, and I confirmed that to be the case. I see the problem for "Google US English" but not for "Microsoft David".
- The last comment in the report is that the pause/resume workaround works for desktop chrome but breaks for Android chrome. Should check vari

[2022-04-01 01:49] jessegreenberg opened #71 "Shared Announcers get stepped twice"
If an Announcer is shared between two utteranceQueues it gets stepped multiple times per animation frame. The utteranceQueue steps the Announcer, so if the Announcer is assigned to two UtteranceQueues it will get stepped in each. This may impact timing variables in the step function.

I found this while working on #60 where I noticed that the code related to `ENGINE_WAKE_INTERVAL` was called twice

[2022-04-01 15:23] jessegreenberg commented on #71
This seems important to resolve.

[2022-04-01 19:41] jessegreenberg commented on #60
@zepumph and I discussed and agreed to go with the quicker `pause`/`resume` workaround for now with a platform check. We agreed that breaking up the SpeechSynthesisUtterance into several could work but would require a lot of code to get it working and there are still some open questions about how to get it working?
- How would we break up long utterances? Punctuation isn't good enough, we could st

[2022-04-01 20:33] zepumph commented on #33
From meeting with JG today, we will rename to DOMUtils and move to utterance-queue using the copy history script.

[2022-04-01 20:36] zepumph commented on #34
@jessegreenberg and I think this is ready for review.

[2022-04-01 20:39] zepumph commented on #69
Could we instead handle this by speaking this before turning it off? That would be in joist. I wonder if that would be nicer than another Property.

[2022-04-01 20:40] zepumph commented on #38
I did this somewhere else, I think in #67.

[2022-04-01 20:40] #38 closed

[2022-04-01 20:40] zepumph commented on #57
Duplicate of https://github.com/phetsims/utterance-queue/issues/69

[2022-04-01 20:40] #57 closed

[2022-04-01 20:43] zepumph commented on #55
@jessegreenberg: "It might have been removed. . . . It is on Announcer now, and it is important to keep." Closing

[2022-04-01 20:43] #55 closed

[2022-04-01 21:18] zepumph opened #72 "speechAllowedAndFullyEnabledProperty should be a DerivedProperty"
Instead of a multilink, let's make this a DerivedProperty|null, and set in initialize. I'll report back

[2022-04-01 21:21] zepumph commented on #71
@jessegreenberg and I decided. . . .

* Remove the queue.length check
* Remove the need for the queue in step (in the Announcer interface too)
* run step via its own stepTimer listener. Wahoo!

[2022-04-01 21:57] zepumph commented on #72
I immediately hit an issue where the Property was null when we needed to wire into it:

https://github.com/phetsims/scenery/blob/1445110b031dd9ad0c5f2397b9ecf27f05e865e6/js/accessibility/voicing/ReadingBlock.ts#L157-L156

This line is called before the initialize is called.

So instead I used a new pattern I have been happy about where we hide the settable API so that it still is read-only as it p

[2022-04-01 22:48] jessegreenberg commented on #72
I see, this pattern makes sense to me. Thanks!

[2022-04-01 22:48] #72 closed

[2022-04-01 23:17] jessegreenberg commented on #67
I took a look at the TS conversion and things look good. I mostly reviewed the public API like options. I also verified that we still have history for everything.

I have thoughts, but lets create a new issue.

Back to you to close if it is time.

[2022-04-01 23:34] jessegreenberg opened #73 "How should we handle platforms where SpeechSynthesis is not available?"
Currently the only platform that does not support SpeechSynthesis is Android in a WebView. So correct, this could come up in the Android app, and it has! https://github.com/phetsims/qa/issues/608

I think this *should* hard crash and that it is up to us to not make SpeechSynthesis requests unless we are confident the platform can handle it. I almost want to replace the assertion in `getSynth` with

[2022-04-04 17:13] jessegreenberg opened #74 "Incorrect voice used in iOS 15.4 + Safari"
I am seeing this issue again in  https://github.com/phetsims/qa/issues/791 with iOS 15.4 + Safari.

Ignore my big hand in this video!

https://user-images.githubusercontent.com/87318828/161594340-933a8919-2314-4573-a18f-8b967802201b.mov

_Originally posted by @Nancy-Salpepi in https://github.com/phetsims/friction/issues/268#issuecomment-1087794283_

[2022-04-04 17:18] Nancy-Salpepi opened #75 "Voice options unavailable with MacOS 12.3 + safari"
Seen when testing https://github.com/phetsims/qa/issues/791 and also in published GFLB and John Travoltage: There are no voice options in the combobox (but Voicing works).

[2022-04-04 17:21] jessegreenberg commented on #74
The original issue in https://github.com/phetsims/friction/issues/268#issuecomment-1087794283 was about the wrong voice after selecting an item in the voice ComboBox. But what is shown in @Nancy-Salpepi is even more broken, it looks like "Fred" always sounds like "Samantha".

[2022-04-04 22:00] jessegreenberg commented on #71
Changes made in the above commits and its working. Unit tests are passing after the change. I am now seeing timing of things in the step function match their controlling timing variables.

So the remaining question is what to do about the timing constants since we are now effectively doubling the amount of time for each. There are three. I think ENGINE_WAKE_INTERVAL and VOICING_UTTERANCE_INTERVAL

[2022-04-04 22:16] jessegreenberg commented on #71
Timing variable changes made in the above commit. I tested on a Chromebook and verified that the ENGINE_WAKE_INTERVAL workaround still works and the PENDING_UTTERANCE_DELAY still works. I tested on Safari and it seems that all `end` events are coming through which indicates that VOICING_UTTERANCE_INTERVAL workaround is working.

And unit tests with ?manualInput are passing.

I think this is ready

[2022-04-04 22:21] jessegreenberg commented on #75
I have macOS 11.6.2 and I am not able to produce this. I have voices Alex, Fred, Samantha, and Victoria.

@Nancy-Salpepi on the Mac where you found this can you please
1) Go to System Preferences -> Accessibility -> Spoken Content
2) Go to the "System Voice" pop-up menu and show which voices you have available? Mine looks like this

[2022-04-04 22:31] jessegreenberg commented on #74
I confirmed this on my iPad Air 2, I have Fred and Samantha and both Voices sound like Samantha.

[2022-04-04 22:40] Nancy-Salpepi commented on #75
yeah I have a lot of voices listed there. Is there some other step I should take (maybe something changed when my computer updated to macOS 12.3?)
<img width="681" alt="Screen Shot 2022-04-04 at 6 37 59 PM" src="https://user-images.githubusercontent.com/87318828/161643400-da5ed602-b991-4861-9de1-312a050c2d61.png">

[2022-04-04 22:43] jessegreenberg commented on #74
I tried to re-install Fred to see if I could repair it but apparently you cannot delete Voices once you install them...https://discussions.apple.com/thread/252817481

I will tether my iPad to my Mac and inspect the voice every time we request speech to see if it looks like "Fred".

[2022-04-04 22:45] jessegreenberg commented on #75
@Nancy-Salpepi can you please trying going to "Customize..." Then find "Samantha" in the list and uncheck it. Then press "OK" to uninstall it. Then go back and re-check Samantha to download it again? Unsure if it will do anything but I think it is worth a try.

[2022-04-04 23:02] Nancy-Salpepi commented on #75
Sorry @jessegreenberg, but no change.  I even restarted my computer to make sure. Anything else you want me to try?

[2022-04-05 00:41] #67 closed

[2022-04-07 16:11] zepumph commented on #73
This makes sense. I would prefer an Error to an assertion given your thoughts, but I still worry about getting this in production, in a case that QA hasn't tested or we don't support. Is it worth such a hard fail if we forget about a device?

[2022-04-07 16:17] zepumph commented on #71
Commits look great. I feel like I remember having a conversation with you last Friday about how it would be nice to not have this run/step when there is no voicing, and I see that it is all hidden behind initialize(). I like that!

Anything else?

[2022-04-07 16:45] jessegreenberg opened #76 "Don't step SpeechSynthesisAnnouncer if it is disabled?"
We might be doing unecessary operations when Voicing/SpeechSynthesis is not enabled by stepping in this case.

The UtteranceQueue returns in step if not enabled. Maybe we can/should do the same for SpeechSynthesisAnnouncer. The UtteranceQueue used to step the SpeechSynthesisAnnouncer, so this actually seems like a safe thing to do after we moved the announcer.step call out of the UTteranceQueue in

[2022-04-07 16:47] zepumph commented on #76
Perhaps in addition to this, we should add a listener that applies to chromium wake engine workaround to speak an empty string right when we enable, so that it doesn't interfere with that on chromium.

[2022-04-08 20:29] jessegreenberg commented on #60
I was just about ready to commit this when I removed to the workaround to verify that behavior was improved only to find that I can no longer reproduce the problem in Chrome with any voice.  Did Chrome fix this in the last 7 days?

Here is the patch I was about to commit:
<details>

[code]
</details>

@zepumph @BLFiedler or @terracoda can you please try the toolbar buttons in ratio-and-proportion

[2022-04-11 17:49] zepumph commented on #60
I can consistently get this to reproduce with the "Google US English" but I cannot reproduce with any microsoft voice (mark david zira). When it occurs, it is pretty much right at 15 seconds. I reproduced with a voice rate of .75, 1, and 1.25.

[2022-04-11 17:52] jessegreenberg commented on #60
OK thanks @zepumph! Can you please post your chrome version?

[2022-04-11 17:58] BLFiedler commented on #60
Good catch, @zepumph ! I have discovered it's the same for me. Google US English cuts out at 15 seconds, but all other voices play out the full overview just fine.

My Chrome version (on Win10):
Version 100.0.4896.75 (Official Build) (64-bit)

[2022-04-11 18:06] jessegreenberg commented on #60
OK thanks for checking! For some reason I am still not seeing this with 100.0.4896.75 (Official Build) (64-bit) with "Google US English" voice. I timed it speaking for 29 seconds and it never cut out. Ill try applying the workaround and check-in again with @zepumph or @BLFiedler to see if it is fixed.

[2022-04-12 18:05] jessegreenberg opened #77 "Utterance.canAnnounceProperty should interrupt the Announcer when it becomes false"
An extension and enhancement of phetsims/scenery/issues/1300, when the Utterance.canSpeakProperty becomes false it should interrupt the Announcer if it is currently being announced.

[2022-04-13 03:26] jessegreenberg commented on #77
This was simple enough, the change is working nicely. Tested with Dialogs and ReadingBlocks which now interrupt when closed.

[2022-04-13 20:36] jessegreenberg opened #78 "Create an enumeration for Utterance priorities"
Currently Priorities can take any number value, it would be better if there were some limit on the values you could provide. It seems like allowing any number could turn into mayhem.

We think an enumeration for these values would be nice. We also considered typing Priority, but we want to start with enumeration.

[2022-04-13 20:39] zepumph commented on #78
see https://github.com/phetsims/joist/issues/752#issuecomment-1098457878

[2022-04-13 20:39] jessegreenberg commented on #77
This is to be reviewed as part of the set from https://github.com/phetsims/scenery/issues/1300 by @zepumph, reopening. And thank you!

[2022-04-14 21:49] jessegreenberg opened #79 "Remove default TinyProperty from Utterance.canAnnounceProperties"
This Property is always there, when you add a new Property it doesn't ever change or remove this default. Having it there is convenient for the implementation of the canAnnounceProperty because the DerivedProperty needs at least one dependency. But it makes an assertion like this (maybe to be added to Voicing.ts) irrelevant because the length is always greater than zero
[code]

[2022-04-15 18:01] jessegreenberg opened #80 "Utterance needs a dispose"
Discovered during https://github.com/phetsims/phet-io/issues/1858. Utterance generally needs dispose. We should also look through existing usages of Utterance to make sure that there aren't any memory leaks, particularly in common code usages.

[2022-04-15 19:13] zepumph commented on #62
@jessegreenberg and I discussed this today. We can see a world where SpeechSynthesisAnnouncer's enabled Property doesn't control voicing, but a separate Joist Property does (like for the toolbar). Then most everything can be controlled by the utterance queue. And perhaps the canSpeakProperty can just change the announcer's enabled.

We don't want to work on this though until we do https://github.c

[2022-04-15 21:27] jessegreenberg commented on #80
I think dispose has been implemented by disposing of Properties and clearing the canAnnounceProperties. @zepumph would you like to review this issue?

[2022-04-15 21:37] jessegreenberg commented on #80
Wait, we also need to review Utterances in the project and look for leaks.

[2022-04-15 21:47] jessegreenberg commented on #80
I scanned through the project looking for `new Utterance` (78 hits) as well as  things that extend Utterance and its usages. Pretty much all cases keep a reference to the utterance forever in the constructor or as an instance variable and the Utterance never changes. It seems safe to me.

[2022-04-16 00:02] jessegreenberg commented on #79
This assertion was added to Voicing.ts as part of https://github.com/phetsims/scenery/issues/1403 so it would be nice to improve this.

[2022-04-16 00:21] jessegreenberg commented on #79
This was done in the above commit. After the change I immediately found an Utterance that was not attached to the scene graph for Voicing which is great.

[2022-04-16 00:29] jessegreenberg commented on #79
Sims passed local fuzzing. I am going to go ahead and close this one but feel free to review if you wish as part of https://github.com/phetsims/scenery/issues/1403 @zepumph.

[2022-04-16 00:29] #79 closed

[2022-04-22 21:50] zepumph commented on #60
@jessegreenberg can you still not reproduce this?

[2022-04-22 21:55] jessegreenberg commented on #60
I just tested again and cannot reproduce this. Using 'Google US English' I heard speech for 21 seconds.

[2022-04-29 19:02] zepumph commented on #80
We do not own `canAnnounceProperties`, so I don't think we can dispose them.

[2022-04-29 22:24] jessegreenberg commented on #80
That makes sense to me, I don't think we are currently. It looks like we are just clearing the reference to them in our private array
https://github.com/phetsims/utterance-queue/blob/2f73d20ba7f8bbdfffb3258695f3e7e37ff8a4a8/js/Utterance.ts#L268-L269

[2022-04-29 22:26] zepumph commented on #80
Ahhh, excellent. Sorry for the trouble. All looks great here. Please reopen if you have more to discuss.

[2022-04-29 22:26] #80 closed

[2022-04-29 23:14] jessegreenberg commented on #60
I committed the change proposed in https://github.com/phetsims/utterance-queue/issues/60#issuecomment-1093327856. @samreid helped me test since I haven't been able to reproduce this bug. On his Mac with Chrome we observed the problem before the fix and verified that the problem was gone after https://github.com/phetsims/utterance-queue/commit/6d5b3c1eb4129811e3f4ffccc0f5eba1fed891e5.

@zepumph can

[2022-05-09 15:48] zepumph commented on #60
That is so interesting that you couldn't I added a console log inside the code block that paused and resumed speech. I then put on Google US English voice at .75x speed. I saw that the first screen overview button in Ratio and Proportion used the workaround 2+ times to complete the sentence, but it did complete it. I then used a Microsoft voice in the same parameters and saw it complete the whole

[2022-05-09 16:57] jessegreenberg commented on #60
Yes, I can see how that was confusing. Is that better?

[2022-05-09 17:00] #60 closed

[2022-05-12 21:49] pixelzoom opened #81 "Many issues with options types"
There are many issues with options types in this repo, including:

* missing type definitions for subclasses
* malformed uses of optionize
* places where combineOptions should be used instead of optionize

It's probably easist if I address them, then assign to @jessegreenberg and @zepumph to review. (I hope that's OK.)

[2022-05-12 21:57] pixelzoom commented on #81
@jessegreenberg and/or @zepumph please review.  Let me know if you have any questions, or if you see any problems.

[2022-05-12 22:12] zepumph commented on #22
We discussed this during PhET-iO meeting today.

We decided to treat this like a reset all button description. We want to add an option to opt out of this so that we can have silent state setting, like on startup.

Here were discussed what the utterance text should be:
[code]

"We will go with Sim state changed, explore to discover more." for now.

[2022-05-12 22:13] zepumph commented on #22
We don't want to include the option of sound in this because we fear that it will be too intrusive in most cases. That said, we discussed super granular options like:

[code]

[2022-05-13 17:27] zepumph commented on #81
Thanks for this. There was definitely some slop there that I was glad to sort out. I have two thoughts here.

1. Announcer.announce is kinda a tricky case. We want to be able to pass in options from Utterance.announcerOptions, but when creating an announcer, it isn't parameterized to the Announcer it will announce to (by design). So we don't really have strong typing there. Thus `announce` methods

[2022-05-13 17:52] pixelzoom commented on #81
Can't say that I agree with teh `combineOptions` usages that were changed to `optionize`.  But I'm certainly willing to be convinced.  Probably better to discuss via Zoom.

I should also note that in AriaLiveAnnouncer.ts, I found the names `AriaLiveAnnounceSelfOptions` and `AriaLiveAnnounceOptions` to be incredibilty confusing.  At first I thought they are typos, "Announce" instead of "Announcer".

[2022-05-13 18:03] pixelzoom commented on #81
Also note that you may have problems if you ever add options to `AnnouncerAnnounceOptions` in Announcer.ts.  SpeechSynthesisAnnouncer overrides `announce` like this:

```override announce( utterance: Utterance ): void```

... so it's blowing off AnnouncerAnnounceOptions. That seems brittle.

[2022-05-13 18:36] pixelzoom commented on #81
I met with @zepumph on Slack.

He convinced me that the `combineOptions` usages that he changed to `optionize` are correct.  These are cases where type-checking is needed, and the options need to satisfy the complete contract of the options type.

For the types related to AriaLiveAnnouncer `announce`, @zepumph agreed that `AriaLiveAnnouncerAnnounceSelfOptions` and `AriaLiveAnnouncerAnnounceOptions

[2022-05-13 18:36] #81 closed

[2022-06-06 18:51] jessegreenberg opened #82 "Add Properties to Utterance to control Voicing and Description response output"
We currently have `Utterance.canAnnounceProperty` which prevents the Utterance from being announced by the UtteranceQueue when it is false.  The problem is that when an Utterance is shared and used for both Voicing and Interactive Description (such as by an Alerter), if Voicing.canSpeakProperty (forwarded to the Utterance.canAnnounceProperty) is false content will not be heard for Description of V

[2022-06-06 18:57] zepumph commented on #82
- [ ] When complete, take https://github.com/phetsims/friction/issues/296 off hold.

[2022-06-06 19:01] zepumph commented on #82
This is blocking description in Friction and Quad, and possibly others, I'll try to have it done today.

[2022-06-06 21:08] zepumph commented on #82
One quick patch

[code]

[2022-06-06 23:10] zepumph commented on #82
Ok, this was pretty straight forward once we factored out AnnouncingControlProperty. I am happy with the way it looks. I have confirmed that friction is fixed. @jessegreenberg, can you please review the implementation, and note that currently canAnnounceProperties and descriptionCanAnnounceProperties are not used at all in the project.

[2022-06-07 16:48] zepumph commented on #82
Ok, tested and ready for actual review.

[2022-06-09 20:20] zepumph commented on #77
This looks really nice, thanks! Instead of creating a new closure each time we speak, can you attach a bound prototype method, or even a member variable that is set once, and then have a second value like `this.canAnnouncePropertyLinked:boolean` that you check instead of checking if the listener itself is null? I think that would be slightly cleaner. If you disagree that is fine too. Feel free to

[2022-06-09 20:52] zepumph commented on #65
Can you note why we needed an option to UtteranceQueue? Why not just announce immediately for all announcers? Is it buggy for AriaLive?

Otherwise things look good.

[2022-06-09 21:04] zepumph commented on #66
Can you please write a note about how 5 seconds was chosen, Even if you say "it is kinda random and it worked so I went with it", I think it will help us maintain the code better.

It would be nice to talk about this complexity, from the looks of it it appears we need to be graceful to this function being called multiple times? But I'm not sure why it (and `cancel()` has to look like this). More g

[2022-06-09 21:17] zepumph commented on #34
This looks really nice, and I liked seeing how Number Play is using these items. I was curious though if NumberPlay is a prototype, or a pattern. Would you recommend creating such an Announcer if we did this again? Feel free to close.

[2022-06-22 23:53] zepumph opened #83 "Alerting an utteranceQueue generates the text twice"
Over in https://github.com/phetsims/ratio-and-proportion/issues/473, I found that alerting an utterance will formulate the text twice while alerting, once in utterancequeue, and the second time in the announcer. This is problematic for me because generating the context response creates side effects of state (checking against a "previousValue" for distance that is then updated after determining the

[2022-06-23 00:13] jessegreenberg commented on #83
Is there a way that we can remove `previousAlertText`? The documentation for `getAlertText` says "Get the string to alert, with no side effects".

Alternatively, maybe most usages of `getAlertText` should be replaced with `Utterance.alertableToText` and `getAlertText` should be private to utterance-queue?

[2022-06-23 00:15] zepumph commented on #83
This is the line that is causing the side effect, it is the nature of allowing functions as values in the responsePacket:

https://github.com/phetsims/utterance-queue/blob/ab47d818cda7c0463efe86276a0c945a88732462/js/Utterance.ts#L342

Are we on the same page?

[2022-06-23 01:18] jessegreenberg commented on #83
OK I understand the area of code better, thanks. Supporting side effects in this function sounds difficult because of how much it is used in the Voicing implementation. For example it is used by all `Voicing.getVoicing*Response` getters. These functions could be called more than once in a sim or in a scenery-internal implementation.

[2022-06-24 20:28] zepumph commented on #83
@jessegreenberg and I worked on this today, We made it so that the utterancequeue gets the alert text, and then  passes it to the announcer. This way we don't regenerate it twice for each utterance. We also updated other cases, and tested over in https://github.com/phetsims/ratio-and-proportion/issues/481 and things are working very well!

[2022-06-29 20:00] jessegreenberg commented on #82
I tested this by watching responses in the a11y view and with ?printVoicingResponses and saw that this is working very well.

For my own understanding, can you describe the typing here
[code]

How/why does Utterance implement `FeatureSpecificAnnouncingControlPropertySupported`? This enforces that Utterances has those fields?

Otherwise everything seems great here.

[2022-06-29 22:10] jessegreenberg commented on #77
Great idea thanks. I went with a bound method. While I was testing this I realized that after #82 we need to do this for both `utterance.canAnnounceProperty` and `utterance.voicingCanAnnounceProperty` so I did that as well in the above commit. I verified that it was still working and sims passed fuzzing.

@zepumph can you take a look at this again?

[2022-06-29 22:20] jessegreenberg commented on #34
Yea something like that sounds nice. I am not sure what the goals are for speech synthesis and multi-language use outside of Voicing is at this point so it doesn't seem worth abstracting further at this time. But it would be good to do if there is a desire to use that more.

[2022-06-29 22:20] #34 closed

[2022-06-29 22:25] jessegreenberg commented on #65
This felt like a platform specific workaround and I think I was trying to avoid applying it unless it was necessary. But I get what you are saying, and I think it could simplify the file if can just remove this. Ill do this and quickly spot check a few screen readers.

[2022-06-29 22:29] jessegreenberg commented on #65
NVDA + Chrome - good
NVDA + Firefox - good

[2022-06-30 16:44] zepumph commented on #77
Looks great, thanks!

[2022-06-30 16:44] #77 closed

[2022-06-30 16:50] zepumph commented on #82
The key feature is that we want the type `FeatureSpecificAnnouncingControlProperty` that UtteranceQueue can use. Having Utterance implement FeatureSpecificAnnouncingControlPropertySupported (the object) ensures that Utterance has those keys. Note the error when you commend out descriptionCanAnnounceProperty.

[code]

The typescript error here is very informative:

[2022-07-15 17:27] jessegreenberg commented on #66
Coming back to this, remaining work:
- [ ] Can you please write a note about how 5 seconds was chosen...
- [ ] Changes in https://github.com/phetsims/utterance-queue/issues/66#issuecomment-1152617771

[2022-07-15 23:13] jessegreenberg opened #84 "announceImmediately adds low priority Utterances to the queue"
Failing test is
[code]

And there is a line of documentation that says

That is not what the implementation does, the implementation of announceImmediately does not attempt to remove `thirdUtterance`.  I am assumign this is a bug and that we didn't forget to update the documentation.

[2022-07-15 23:21] jessegreenberg commented on #84
IT seems like this should have been an issue since we first did https://github.com/phetsims/utterance-queue/commit/2291f6831431562cae28cd734df0981c7e627a9b, but that issue indicates that unit tests for this were passing.

[2022-07-15 23:54] jessegreenberg commented on #84
`announceImmediately` uses `prioritizeUtterances`.

`prioritizeUtterances` at the end uses this to determine whetner the new Utterances should cancel what is being announced.
[code]

There is nothing further in announceImmediately to remove the Utterance passed to the function if it has low priority.

[2022-07-17 20:36] chrisklus opened #85 "TypeScript review"
TypeScript review of utterance-queue for developer review rotation.

I reviewed all of the files in TypeScript and they are looking great - TS conventions are being followed very well. I wrote out a few small things to consider/things to fix:

* In AriaLiveAnnouncer.ts, it seems a little weird to have two types that both contain 'polite' and 'assertive' (AriaLivePriorityString and AriaLive). One c

[2022-07-18 16:25] jessegreenberg commented on #85
Great, thanks! I believe the pairing for this review exercise was intended to be @zepumph so assigning to him but let me know if there is anything to be discussed in the recommendations.

[2022-07-18 17:00] chrisklus commented on #85
Thanks for the clarification! I thought so too but then saw you're the responsible dev so I thought maybe there was a mixup, oops.

[2022-07-18 17:43] zepumph commented on #85
In general I feel like the RichEnumeration (class based) strategy like AriaLive is nice, comfortable and clear, especially because announcerOptions typing is still a bit weird since any Announcer can declare their own, but the interface is set on Utterance. In `createBatchOfPriorityLiveElements` we are actually setting the `aria-live` attribute, which needs to be the actual strings "polite" or "as

[2022-07-18 22:08] #85 closed

[2022-07-19 23:55] chrisklus opened #86 "Type casting SpeechSynthesisAnnouncer.enabledProperty is potentially buggy"
In the TypeScript channel, I asked about a type error I'm getting in WebStorm that is not showing up in pre-commit hooks:

![image](https://user-images.githubusercontent.com/5618316/179866460-1d4ee27c-460b-4d66-a33d-c3f18524b1bb.png)

[Chris Klusendorf](https://app.slack.com/team/UBHLGT5C2)
  [7:15 PM](https://phetsims.slack.com/archives/C029UG5BVU3/p1658272549212379)
has anyone run into a problem

[2022-07-20 17:12] jessegreenberg commented on #86
I don't really understand how EnabledComponent is being used here, ill try to take a look too.

[2022-07-21 16:27] zepumph commented on #86
I looks like this was a bug introduced in https://github.com/phetsims/axon/commit/a2730117d747a1f746a73941c66ad04b1e12cab8.

It looks like we need to make EnabledComponent parameteric to whether or not you can set the enabledProperty. I'll take a look.

[2022-07-21 17:29] zepumph commented on #86
@samreid, @pixelzoom, @zepumph had a talk about public APIs for subcomponent properties (visibleProperty/enabledProperty/etc). Generally typescript behaves poorly here, because we have to parametrize the class to say if the underlying enabledProperty is settable or not. This would involve passing that parameter up from EnabledComponent -> ButtonModel -> forever up the hierarchy. Not to mention the

[2022-07-22 18:15] jessegreenberg commented on #82
Makes a lot of sense, thanks.

[2022-07-22 18:23] #82 closed

[2022-07-22 21:37] jessegreenberg commented on #84
OK I changed the behavior to match the documentation for `announceImmediately`. I also had to change a unit test. We had some inconsistency because
1) The documentation or announceImmediately described that a new lower priority Utterance would not interrupt the announcing utterance and never be added to the queue.
2) We had one test that verified that the lower priority utterance would never inter

[2022-07-22 22:35] jessegreenberg commented on #66
I got blocked by #84 last time I worked on https://github.com/phetsims/utterance-queue/issues/66#issuecomment-1185752283, Ill try finish this next.

[2022-07-25 19:01] zepumph commented on #84
Should we instead use `shouldUtteranceCancelOther`, it seems like potentially a bit of duplication otherwise. Is there a reason it shouldn't use the announcer-specific implementation just always check priorityProperty?

[2022-07-27 15:48] jessegreenberg opened #87 "AriaLiveAnnouncer and alerts work poorly with VoiceOver"
I have an old mac:

macOS Big Sur
11.6.2
Retina, 13-inch, Late 2013
2.4 GHz, Dual-Core Intel i15
Memory 8 GB

And aria-live alerts very rarely work in the sim.

VoiceOver in general very rarely works on this machine, I have to disable the expensive graphics in the sim or I just hear "VoiceOver busy". It may be that this machine is too old for our accessibility needs. But I am worried that alerts i

[2022-07-27 20:01] jessegreenberg commented on #87
Over slack, @Nancy-Salpepi said that alerts generally come through predictably for VoiceOver on her Mac. I am going to close this and note that VoiceOver just behaves very poorly when the machine is struggling with performance. For my old machine that is almost always, but for up-to-date devices they should be able to keep up with PhET sims and accessibility.

Closing.

[2022-07-27 20:01] #87 closed

[2022-07-27 20:22] jessegreenberg commented on #84
That is a great improvement, thanks. Anything else?

[2022-07-27 20:25] #84 closed

[2022-07-27 20:36] jessegreenberg opened #88 "VoiceOver reads AriaLiveAnnouncer alerts out of order"
From https://github.com/phetsims/greenhouse-effect/issues/192. Controlling this was the entire motivation for UtteranceQueue back in the day so I am surprised to see this.

I have an event that adds multiple alertables to the UtteranceQueue synchronously with Alerter.js
[code]

And I expected VoiceOver to read them in that order. But in https://github.com/phetsims/greenhouse-effect/issues/192, the

[2022-07-27 20:43] Nancy-Salpepi commented on #87
Figured I would add a little video even though you closed the issue.

https://user-images.githubusercontent.com/87318828/181368410-b1ae9a7e-316c-4510-8cd6-2a9e335da30d.mov

[2022-07-27 22:23] jessegreenberg commented on #88
I have a proposed fix for this by using the Announcer feature `readyToAnnounce`. Now AriaLiveAnnouncer uses `readyToAnnounce` to prevent the UtteranceQueue from sending alerts too quickly to the screen reader. I am hoping the additional delay will force the reader to speak them in FIFO order.  But I am not able to test, I have asked for assistance in testing in https://github.com/phetsims/greenhou

[2022-08-01 15:59] zepumph commented on #78
Something like:

[code]

[2022-08-18 21:08] zepumph commented on #53
Already covered in AriaLiveAnnoucner because of

https://github.com/phetsims/scenery/blob/4f32b8fb1fc56fc790f16e438b29a69bd9c123fd/js/accessibility/pdom/PDOMUtils.js#L386

Implemented for Voicing.

I tested with:

[code]

@jessegreenberg, anything else here?

[2022-08-25 15:27] zepumph opened #89 "ResponsePacket should support string Properties"
Very similar to https://github.com/phetsims/scenery/issues/1442. We want to make sure that new i18n string Properties are supported for voicing.

[2022-08-25 18:14] jonathanolson commented on #89
Implemented above, but the changes I made seemed easier in the actual AriaLiveAnnouncer. Is that appropriate? Can you review?

[2022-08-25 18:34] zepumph commented on #89
Review to be done over in https://github.com/phetsims/scenery/issues/1442. Thanks!

[2022-08-25 18:34] #89 closed

[2022-08-26 21:17] zepumph commented on #53
I'm feeling pretty confident about this one! Closing

[2022-08-26 21:17] #53 closed

[2022-08-30 17:30] chrisklus commented on #86
@zepumph changes look great, and thanks for the explanation! I have not seen this issue on my end anymore. Closing.

[2022-08-30 17:30] #86 closed

[2022-08-31 18:01] zepumph commented on #75
@jessegreenberg could you give a status update on this. @emily-phet, is this blocking frictions release?

[2022-08-31 18:02] zepumph commented on #74
@jessegreenberg could you give a status update on this. @emily-phet, is this blocking frictions release?

[2022-08-31 18:08] Nancy-Salpepi commented on #74
Weird that we were looking at this issue at the same time @zepumph.
@jessegreenberg I am seeing this while testing ratio and proportion (https://github.com/phetsims/qa/issues/831)
with iOS 15.6.1 AND  macOS 12.5.1 + safari. Also seen with published versions of JT and GFL:B.

[2022-08-31 18:33] Nancy-Salpepi opened #90 "Voicing doesn't indicate changes to Pitch or Rate sliders"
Seen while testing https://github.com/phetsims/qa/issues/831 with mac + safari/chrome:

In the Audio tab of the Preferences menu when using keyboard nav to change the pitch or rate, Voicing doesn't utter anything. However, if I change the pitch/rate using the mouse, Voicing occurs. This was also seen with GFL:B on Master. This doesn't happen in the published version of GFL:B.

https://user-images.

[2022-08-31 18:35] jessegreenberg commented on #90
Thanks @Nancy-Salpepi Ill take a look. @zepumph fyi.

[2022-08-31 18:39] jessegreenberg commented on #75
Its possible our filter for voices is removing too much. Also possible the browser just doesn't have any available voices to choose from. I was not able to reproduce on my Mac with https://github.com/phetsims/utterance-queue/issues/75#issuecomment-1088070033. We will need to work with QA to debug what is happening on that platform.

[2022-08-31 18:51] jessegreenberg commented on #74
I have not investigated this yet but should! There may be something in the stack trace or maybe some field on the Voice that indicates why it sounds incorrect. But it is unclear and we may not be able to prune the broken voice.

[2022-08-31 19:30] Nancy-Salpepi opened #91 "Voicing doesn't pronounce "close" correctly"
Seen while testing https://github.com/phetsims/qa/issues/831 but also present in GFL:B on master: The close button is pronounced as the opposite of far instead of the opposite of open.

This is seen with macOS 12.5.1 + safari/chrome.
This doesn't happen with published JT or GFL:B.

Occurs with Alex voice in Safari (only voice currently working) and with all voice options on chrome.

[2022-08-31 19:32] jessegreenberg commented on #91
I am going to take a look at this now. But since it came from https://github.com/phetsims/qa/issues/831, I wanted to notify @zepumph since this is related to RaP progress.

[2022-08-31 19:37] Nancy-Salpepi commented on #91
It is also mispronounced in the keyboard shortcuts dialog
<img width="332" alt="Screen Shot 2022-08-31 at 3 36 32 PM" src="https://user-images.githubusercontent.com/87318828/187767254-92434b4f-d280-4aa8-8639-68d1d49aa3bf.png">

[2022-08-31 19:37] jessegreenberg commented on #91
Confirmed in macOS 11.6.2 Chrome 104.0.5112.101, with voice "Google US English", in RaP running off of master.

NOT seeing this happen in the published version of JT with voice "Alex".

But I AM seeing this happen in the published version of JT with voice "Google US English".

[2022-08-31 19:38] jessegreenberg commented on #91
That is surprising to me! It should have context in that phrase to find the right pronunciation.

[2022-08-31 19:42] Nancy-Salpepi commented on #91
I have seen it with "Alex" in safari and with the "Google US English" voice in chrome.

[2022-08-31 19:51] Nancy-Salpepi commented on #91
The close button for the Updates and About dialogs is pronounced correctly (tested with safari + Alex)
The keyboard preferences and Preferences dialog close buttons are where it is pronounced incorrectly as well as the statement mentioned above.

[2022-08-31 19:52] jessegreenberg commented on #91
Yes, thanks @Nancy-Salpepi, I just confirmed that it is correct for the "Updates" dialog.

[2022-08-31 19:58] #91 closed

[2022-08-31 20:48] jessegreenberg commented on #90
Hmm, odd - I notice that if I press the keyboard buttons slowly and wait ~1 second before releasing I do hear the responses. There must be some interruption happening.

[2022-09-01 19:13] emily-phet commented on #75
@zepumph I think it would be good to do the investigation of what @jessegreenberg describes above, to determine what is the likely root of the issue, and from there decide if we want to proceed. So "blocking' for now, until we triage based on further investigation.

[2022-09-01 19:17] emily-phet commented on #74
Let's couple this investigation with that for https://github.com/phetsims/utterance-queue/issues/75. If the root of the issue for these is something relatively straightforward on our end, let's fix. If it's a hard fix, or unclear if it's something on our end, let's defer.

[2022-09-06 15:05] jessegreenberg commented on #90
Since it seems this will be resolved in preferences components or Slider and not utterance-queue, Ill pick up this issue in joist here:
https://github.com/phetsims/joist/issues/854

[2022-09-06 15:05] #90 closed

[2022-09-08 17:16] zepumph commented on #88
This makes sense to me, and I understand this. Can you please add a few sentences about how this regression happened, because it isn't clear to me how our overhaul of the utterance-queue for voicing meant that we HAD to use readyToAnnounce for aria-live. Is this a regression with how screen readers behave? UtteranceQueue didn't use to need to wait for that timeout to complete to send the next one.

[2022-09-08 17:17] zepumph commented on #88
Feel free to close after an explanation is all seems good to you.

[2022-09-08 17:58] jessegreenberg commented on #88
Yes, I don't think this was caused by any of our code - I think VoiceOver changed something. The order of UtteranceQueue and the rate it moved through Utterances (basically every stepTimer step) used to be enough to force FIFO order. But something changed and now it takes some delay to enforce the order. 200ms seemed to work OK for now.

[2022-09-08 17:58] #88 closed

[2022-09-08 21:35] samreid commented on #83
As discovered in https://github.com/phetsims/chipper/issues/946, there are TODOs in the code referring to this issue.  Reopening.

[2022-10-05 21:26] zepumph commented on #75
Sounds good thanks.

[2022-10-12 14:35] zepumph commented on #74
Adding myself for investigation.

[2022-10-14 16:07] zepumph commented on #74
It is incredibly easy to reproduce this problem. When I downloaded more voices, no matter what, I only had access to the voice that was initially available. @jessegreenberg and I found that this is a known bug with iOS:

Treat this as the caniuse blog: https://weboutloud.io/bulletin/speech_synthesis_in_safari/
https://stackoverflow.com/a/61347785/3408502
https://talkrapp.com/speechSynthesis.html (

[2022-10-14 16:08] zepumph commented on #74
QA, please note that there is no longer a voice selector in iOS. Feel free to close.

[2022-10-14 16:36] Nancy-Salpepi commented on #74
noted in QA book. Closing

[2022-10-14 20:13] zepumph commented on #75
@chrisklus and I were unable to reproduce this on his safari version 15.6 (MacOS 12.6) and also when he was on MacOS 12.2. We were though able to reproduce #74. I'll have to look into that further.

[2022-10-14 20:42] zepumph commented on #74
While investigating https://github.com/phetsims/utterance-queue/issues/75, @chrisklus and I found that we could reproduce this with MacOS version 12.6 Safari 15.6.1 (latest version).

Furthermore, Chris always had a default of "Alex" (it was first in the list). We found this even when when we changed the system voice to Samantha, cleared caches and refreshed. We also found this even when we remove

[2022-10-14 21:56] jessegreenberg commented on #74
I just tested this in Safari 15.4 tech preview and saw this happening there. Then I tested in default safari (15.2 on my machine) and the available voices worked correctly.

[2022-10-14 22:01] jessegreenberg commented on #74
According to https://weboutloud.io/bulletin/speech_synthesis_in_safari/ the inability to change voices is not specific to iOS but is happening at least as early as version 15.4 :(

[2022-10-14 22:27] zepumph commented on #74
15.4 is pretty recent. This seems like a regression that is more likely to be fixed than many other bugs we encounter. Furthermore, the bug doesn't effect usability, but is instead just confusing. What if instead we just kept the combo box in for safari, hoping that safari will get's it together in a soon-to-be-released version?

[2022-10-15 13:49] emily-phet commented on #74
Here's my 2 cents...I agree here with @zepumph - Let's just leave the voice options as is across all contexts, document somewhere that this issue exists (we can even include a brief mention of this in supporting materials for teachers), and cross our fingers that Safari improves soon.

[2022-10-19 14:34] zepumph commented on #74
@emily-phet and I spoke about this today and we are in agreement about leaving the buggy selector in place with hopes that Apple fixes the bug.

[2022-10-19 14:52] zepumph commented on #74
Reverted above. I added a note about how it is currently broken. Closing

[2022-10-19 14:52] #74 closed

[2022-10-19 14:53] zepumph commented on #75
Up next, I'd like to work with @Nancy-Salpepi because she has been the only one to reproduce it thus far.

[2022-10-19 15:23] Nancy-Salpepi commented on #75
@zepumph with macOS 12.6 and safari 16.0 voice options are now present in the combo box for published GFLB and JT, Friction 1.6.0-dev.24 and ratio and proportion 1.2.0-dev.31.

[2022-10-19 15:56] zepumph opened #92 "[safari] Voicing/SpeechSynthesis is buggy in multiple iframes"
@Nancy-Salpepi reported this bug originally in https://github.com/phetsims/phet-io-wrappers/issues/459. We are finding that our voicing in our sims behaves quite badly when running multiple sims in iframes on the same page in safari.

**Test 1:**

[code]

This consistently showed that the last iframe's voicing worked perfectly, but the other two were silent. Behavior is great on chrome, with all t

[2022-10-19 15:56] zepumph commented on #92
Tagging @jessegreenberg.

[2022-10-19 18:43] zepumph commented on #75
Great news! Given how hard it has been for @jessegreenberg, @chrisklus and I to reproduce, I feel good about closing this.

[2022-10-19 18:43] #75 closed

[2022-10-20 13:04] jessegreenberg commented on #92
Bummer. Did the problem only present itself when changing the voice and its rate and pitch? I am wondering if it would happen if html.html is reduced to a button whose click listener is just
[code]

[2022-10-20 16:50] #83 closed

[2022-11-03 23:10] jessegreenberg opened #93 "Latest MacOS includes novelty voices in english"
@Nancy-Salpepi just reported that the latest MacOS includes novelty voices by default. All of these now take up space in the dialog.

<img width="1217" alt="Screenshot 2022-11-03 at 6 53 13 PM (2)" src="https://user-images.githubusercontent.com/6396244/199851337-68f10af8-4a8a-43f9-881e-8053981e2482.png">

This is a good screenshot because it includes all of the attributes on the `SpeechSynthesisVo

[2022-11-03 23:14] jessegreenberg commented on #93
<img width="463" alt="Screenshot 2022-11-03 at 7 12 56 PM" src="https://user-images.githubusercontent.com/6396244/199852561-177d576d-cff7-4123-8517-79e85ea0e837.png">

Here is the full list of novelty voices, all of the ones we will want to exclude.

[2022-11-03 23:30] jessegreenberg commented on #93
A potential fix has been pushed. @Nancy-Salpepi can you please see if these voices are now hidden on master?

[2022-11-04 11:50] Nancy-Salpepi commented on #93
I don't see the novelty voices anymore with safari or chrome @jessegreenberg!
<img width="215" alt="Screenshot 2022-11-04 at 7 48 35 AM" src="https://user-images.githubusercontent.com/87318828/199965796-c9ca8c74-9fd5-49a6-b39a-12f870ae7e20.png">
<img width="125" alt="Screenshot 2022-11-04 at 7 47 23 AM" src="https://user-images.githubusercontent.com/87318828/199965809-0c8acd9e-db8a-4ef7-b773-97359

[2022-11-04 15:06] jessegreenberg commented on #93
Great, thanks @Nancy-Salpepi - glad that filter is working.

Would you mind testing those voices you have listed and making sure they sound OK? For example, I am wondering how "Grandpa" sounds and if it would be more distracting than helpful for students.

[2022-11-04 17:13] Nancy-Salpepi commented on #93
Oh boy! I didn't even notice that it said grandma and grandpa. Those voices aren't distracting, but they are a little fast. Slowing down to .75x makes it too slow. "Flo" is extremely fast for some reason and just sounds garbled.
The others are OK. As usual, Samantha, Alex, and Google US English are the clearest.

https://user-images.githubusercontent.com/87318828/200033994-59c7fed8-0cc1-4dd9-ad17-

[2022-11-08 23:47] jessegreenberg commented on #93
Thanks @Nancy-Salpepi, sounds great. I just removed the voices you mentioned. Can you please confirm? Would you recommend any other changes?

[2022-11-09 14:04] Nancy-Salpepi commented on #93
Hey @jessegreenberg, I am still seeing  most of those voices on chrome. Only "junior" seems to have been removed.

<img width="235" alt="Screenshot 2022-11-09 at 9 03 05 AM" src="https://user-images.githubusercontent.com/87318828/200850561-628ede64-ac48-4743-984b-41f637595416.png">

Also--I was wondering if there was a way for me to get the "Alex" voice on safari? There are currently 3 choices: Sa

[2022-11-09 14:32] jessegreenberg commented on #93
OK, hopefully they are removed after the above commit. The "English (US)" was in the string name so the filter wasn't quite right. Can you please test again?

Possibly, I have Alex on Safari so I am not sure why it isn't showing up for you.

I am worried that as we remove Voices, new ones that also sound strange will enter the list. Maybe we should just stick to excluding "novelty" voices and let

[2022-11-09 15:51] zepumph commented on #92
@emily-phet and I spoke about this today and don't think that we should investigate this right now. Unmarking as blocking.

[2022-11-09 15:55] Nancy-Salpepi commented on #93
The voice list contains some voices that I would never choose as a user, but nothing overly strange. The good thing is, the better voices are listed first (at least on my computer).
I'm thinking we are good for now @jessegreenberg.

[2022-11-15 21:27] jessegreenberg commented on #93
@Nancy-Salpepi also just reported that these voices are available in published sims (John Travoltage and GFL:B). @emily-phet do you think this warrants a maintenance release of those sims to hide the novelty voices?

[2022-11-19 01:22] emily-phet commented on #93
@jessegreenberg Can you remind me how resource intensive a maintenance release is (or point me to a place where this may be summarized)?

[2022-11-19 01:23] emily-phet commented on #93
If it's more than an hour or two of your time, is this something that @jbphet could do? He might have some small amount of time opening up this quarter, depending on how intensive the sound ducking feature is.

[2022-11-25 19:21] zepumph opened #94 "Tighten up some voicing types"
What I found while reviewing https://github.com/phetsims/joist/issues/873 (mostly unrelated, but had changes to ScreenView voicing code) was that responseCollector could collect a response that was a function, and it would pass that function directly to stringUtils.fillIn

https://github.com/phetsims/utterance-queue/blob/6a48435a915bd55435dd94cdb7fb2c9853e873e6/js/responseCollector.ts#L91-L96

We

[2022-11-25 19:21] zepumph commented on #94
Types are passing now, and things should much less sloppy. Just because nothing was currently passing it in doesn't mean that couldn't happen in the future.

[2022-11-25 19:39] #94 closed